@font-face {
  font-family: 'ca-icon';
  src:  url('fonts/ca-icon.eot?m8bj8f');
  src:  url('fonts/ca-icon.eot?m8bj8f#iefix') format('embedded-opentype'),
    url('fonts/ca-icon.ttf?m8bj8f') format('truetype'),
    url('fonts/ca-icon.woff?m8bj8f') format('woff'),
    url('fonts/ca-icon.svg?m8bj8f#ca-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.ca-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ca-icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ca-icon_piggy-bank:before {
  content: "\e94e";
}
.ca-icon_image-zoom:before {
  content: "\e94d";
}
.ca-icon_zoom:before {
  content: "\e94c";
}
.ca-icon_hand-up:before {
  content: "\e94b";
}
.ca-icon_photo-camera:before {
  content: "\e94a";
}
.ca-icon_bank:before {
  content: "\e949";
}
.ca-icon_reviews:before {
  content: "\e948";
}
.ca-icon_small-truck:before {
  content: "\e947";
}
.ca-icon_shopping-bag:before {
  content: "\e934";
}
.ca-icon_truck:before {
  content: "\e946";
}
.ca-icon_share:before {
  content: "\e908";
}
.ca-icon_compare:before {
  content: "\e944";
}
.ca-icon_play-button:before {
  content: "\e945";
}
.ca-icon_sort-asc:before {
  content: "\e942";
}
.ca-icon_sort-desc:before {
  content: "\e943";
}
.ca-icon_list-small:before {
  content: "\e941";
}
.ca-icon_list:before {
  content: "\e91a";
}
.ca-icon_arrow-up-slim:before {
  content: "\e93d";
}
.ca-icon_arrow-down-slim:before {
  content: "\e940";
}
.ca-icon_arrow-left-slim:before {
  content: "\e93e";
}
.ca-icon_arrow-right-slim:before {
  content: "\e93f";
}
.ca-icon_smartphone:before {
  content: "\e93c";
}
.ca-icon_user:before {
  content: "\e935";
}
.ca-icon_menu:before {
  content: "\e93b";
}
.ca-icon_shopping-cart:before {
  content: "\e92f";
}
.ca-icon_phone:before {
  content: "\e928";
}
.ca-icon_marker:before {
  content: "\e93a";
}
.ca-icon_label-end:before {
  content: "\e939";
}
.ca-icon_info:before {
  content: "\e938";
}
.ca-icon_minus:before {
  content: "\e91c";
}
.ca-icon_arrow-down:before {
  content: "\e900";
}
.ca-icon_arrow-left:before {
  content: "\e901";
}
.ca-icon_arrow-right:before {
  content: "\e902";
}
.ca-icon_arrow-up:before {
  content: "\e903";
}
.ca-icon_article:before {
  content: "\e904";
}
.ca-icon_award:before {
  content: "\e905";
}
.ca-icon_brands:before {
  content: "\e906";
}
.ca-icon_coins:before {
  content: "\e907";
}
.ca-icon_crown:before {
  content: "\e909";
}
.ca-icon_envelope:before {
  content: "\e90a";
}
.ca-icon_eye:before {
  content: "\e90b";
}
.ca-icon_eye-slash:before {
  content: "\e90c";
}
.ca-icon_filter:before {
  content: "\e90d";
}
.ca-icon_fire:before {
  content: "\e90e";
}
.ca-icon_folder:before {
  content: "\e90f";
}
.ca-icon_gallery:before {
  content: "\e910";
}
.ca-icon_gears:before {
  content: "\e911";
}
.ca-icon_gift:before {
  content: "\e912";
}
.ca-icon_grid:before {
  content: "\e913";
}
.ca-icon_home:before {
  content: "\e914";
}
.ca-icon_image:before {
  content: "\e915";
}
.ca-icon_import:before {
  content: "\e916";
}
.ca-icon_in:before {
  content: "\e917";
}
.ca-icon_like:before {
  content: "\e918";
}
.ca-icon_link:before {
  content: "\e919";
}
.ca-icon_list-checked:before {
  content: "\e91b";
}
.ca-icon_more:before {
  content: "\e91d";
}
.ca-icon_newspaper:before {
  content: "\e91e";
}
.ca-icon_no-fire:before {
  content: "\e91f";
}
.ca-icon_no-gift:before {
  content: "\e920";
}
.ca-icon_ok:before {
  content: "\e921";
}
.ca-icon_ok-circle:before {
  content: "\e922";
}
.ca-icon_out:before {
  content: "\e923";
}
.ca-icon_papers:before {
  content: "\e924";
}
.ca-icon_password:before {
  content: "\e925";
}
.ca-icon_payments:before {
  content: "\e926";
}
.ca-icon_pencil:before {
  content: "\e927";
}
.ca-icon_plus:before {
  content: "\e929";
}
.ca-icon_prize:before {
  content: "\e92a";
}
.ca-icon_refresh:before {
  content: "\e92b";
}
.ca-icon_remove:before {
  content: "\e92c";
}
.ca-icon_remove-circle:before {
  content: "\e92d";
}
.ca-icon_search:before {
  content: "\e92e";
}
.ca-icon_star-full:before {
  content: "\e930";
}
.ca-icon_star-full-slash:before {
  content: "\e931";
}
.ca-icon_trash:before {
  content: "\e932";
}
.ca-icon_tree-view:before {
  content: "\e933";
}
.ca-icon_users:before {
  content: "\e936";
}
.ca-icon_wallet:before {
  content: "\e937";
}
