@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  font-size: 18px;
  height: 100%;
}

body {
  background: #fff;
  color: #212121;
  font-family: 'PT Sans', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
}

a,
a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

section {
  padding-top: 70px;
  padding-bottom: 70px;
}

h2 .red {
  color: #bf0000;
  font-weight: 600;
}

/* Buttons */
.button-now {
  background: #bf0000;
  border-radius: 10px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 3px;
  padding: 12px 17px;
  text-transform: uppercase;
}

.button-now:hover {
  color: #fff;
}
/* * * * * */

/* Trade now block */
.trade-now {
  background: #f3f6ff;
  border-bottom: 4px solid #bf0000;
  min-height: 600px;
  overflow: hidden;
  padding-bottom: 0;
  position: relative;
  width: 100%;
}

.trade-now .old-gadgets,
.trade-now .new-gadgets {
  position: absolute;
}

.trade-now .old-gadgets {
  bottom: 0;
  left: 0;
}

.trade-now .new-gadgets {
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 1560px) {
  .trade-now .old-gadgets {
    max-width: 220px;
  }

  .trade-now .new-gadgets {
    max-width: 940px;
  }
}

@media screen and (max-width: 1440px) {
  .trade-now .old-gadgets {
    max-width: 160px;
  }

  .trade-now .new-gadgets {
    max-width: 840px;
  }
}

@media screen and (max-width: 1200px) {
  .trade-now .new-gadgets {
    max-width: 600px;
  }
}

@media screen and (max-width: 991px) {
  .trade-now .old-gadgets {
    max-width: 100px;
  }

  .trade-now .new-gadgets {
    max-width: 400px;
  }
}

@media screen and (max-width: 576px) {
  .trade-now .old-gadgets {
    max-width: 70px;
  }

  .trade-now .new-gadgets {
    max-width: 300px;
  }
}

.trade-now .trade-now__text {
  align-items: center;
  margin: 0 20px;
  max-width: 320px;
  transform: translateY(40%);
}

.trade-now .trade-now__title span {
  display: block;
}

.trade-now .trade-now__title .second {
  color: #bf0000;
  font-size: 2.25rem;
  font-weight: 600;
}

.trade-now .trade-now__desc {
  color: #605f5f;
  font-weight: 500;
  margin-bottom: 40px;
}

.trade-now img {
  height: auto;
  object-fit: cover;
}
/* * * * * * * * * */

/* How it works block */
.grid-3 {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}

@media screen and (max-width: 991px) {
  .grid-3 {
    grid-template-columns: 100%;
  }
}

.how-it-works {
  border-bottom: 4px solid #bf0000;
  padding-bottom: 90px;
}

.how-it-works .grid-3 {
  padding: 60px 0 30px 0;
}

.how-it-works .block {
  border: 3px solid #343f45;
  border-radius: 10px;
  margin: 0 auto;
  max-width: 250px;
  min-height: 250px;
  padding: 0 30px 30px 30px;
  position: relative;
  text-align: center;
  z-index: 1;
}

.how-it-works .block .numbering {
  color: #343f45;
  font-size: 2.5rem;
  font-weight: 900;
}

.how-it-works .block .block-desc {
  color: #343f45;
}

.how-it-works .block .block-icon {
  background: #fff;
  border: 3px solid #343f45;
  border-radius: 50%;
  bottom: -30%;
  height: 110px;
  left: 50%;
  line-height: 95px;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  width: 110px;
}

@media screen and (max-width: 991px) {
  .how-it-works .block {
    margin-bottom: 90px;
  }

  .how-it-works .block:last-child {
    margin-bottom: 0;
  }
}
/* * * * * * * * * * */

/* Advantages block */
.advantages {
  background: #f3f6ff;
  padding-top: 120px;
  position: relative;
}

.advantages::before {
  background: #fff;
  border-bottom: 4px solid #bf0000;
  border-right: 4px solid #bf0000;
  content: '';
  display: block;
  height: 100px;
  left: 50%;
  position: absolute;
  top: -16px;
  transform: rotate(45deg) translateX(-50%);
  width: 100px;
}

.advantages .block {
  display: table;
  padding-top: 60px;
}

.advantages .block h3 {
  font-weight: 600;
}

.advantages .block .block-img,
.advantages .block .block-text {
  display: table-cell;
  vertical-align: middle;
}

.advantages .block .block-img img {
  border-radius: 10px;
  margin-right: 20px;
  max-width: 240px;
}

@media screen and (max-width: 991px) {
  .advantages .block {
    padding-top: 30px;
  }
}

@media screen and (max-width: 768px) {
  .advantages .block .block-img img {
    max-width: 150px;
  }
}
/* * * * * * * * * */

/* Fulfill form block */
.fulfill-form {
  overflow: hidden;
}

.fulfill-form .left-side,
.fulfill-form .right-side {
  display: block;
  width: 300px;
}

.fulfill-form .left-side .floating-img,
.fulfill-form .right-side .floating-img {
  display: block;
  position: absolute;
}

.fulfill-form .left-side .floating-img:nth-child(1) {
  left: 400px;
  top: 0;
}

.fulfill-form .left-side .floating-img:nth-child(2) {
  left: 25px;
  top: 115px;
}

.fulfill-form .left-side .floating-img:nth-child(3) {
  bottom: 0;
  left: 300px;
}

.fulfill-form .right-side .floating-img:nth-child(1) {
  right: 400px;
  top: 0;
}

.fulfill-form .right-side .floating-img:nth-child(2) {
  right: 0;
  top: 155px;
}

.fulfill-form .right-side .floating-img:nth-child(3) {
  bottom: 0;
  right: 400px;
}

.fulfill-form .form {
  margin: 60px 0;
  position: relative;
  z-index: 1;
}

.fulfill-form .form input {
  background: #f3f6ff;
  border: 1px solid #acadad;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #acadad;
  margin-bottom: 30px;
  padding: 12px 28px;
  width: 100%;
}

.fulfill-form .form input:focus {
  border-color: #bf0000;
  border-radius: 10px;
  outline: none;
}

.fulfill-form .form input::placeholder {
  color: #828282;
}

.fulfill-form .form button {
  border: 0;
  outline: none;
  padding: 12px 28px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .w-50 {
    width: 75%;
  }
}

@media screen and (max-width: 576px) {
  .w-50 {
    width: 100%;
  }
}
/* * * * * * * * * * * */

/* Let's upgrade block */
.lets-upgrade {
  background: #f3f6ff;
  padding: 0;
  position: relative;
}

@media screen and (max-width: 991px) {
  .lets-upgrade {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.lets-upgrade h5 {
  color: #bf0000;
}

.lets-upgrade img {
  height: 100%;
  object-fit: cover;
}

.lets-upgrade .block {
  display: table;
  height: 100%;
}

.lets-upgrade .block-content {
  display: table-cell;
  vertical-align: middle;
}
/* * * * * * * * * * */

@media screen and (max-width: 991px) {
  section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}