.dimmable:not(.body) {
    position: relative;
}
.ui.dimmer {
    display: none;
    position: absolute;
    top: 0em !important;
    left: 0em !important;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.85);
    opacity: 0;
    line-height: 1;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-transition: background-color 0.5s linear;
    transition: background-color 0.5s linear;
    -webkit-user-select: none;
    -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    will-change: opacity;
    z-index: 1000;
}

.ui.dimmer{
    
    > .content {
        width: 100%;
        height: 100%;
        display: table;
        -webkit-user-select: text;
        -moz-user-select: text;
            -ms-user-select: text;
                user-select: text;

        > * {
            display: table-cell;
            vertical-align: middle;
            color: #FFFFFF;
        }
    }
}

.ui.segment > .ui.dimmer {
    border-radius: inherit !important;
}

.animating.dimmable:not(body),
.dimmed.dimmable:not(body) {
    overflow: hidden;
}
.dimmed.dimmable > .ui.animating.dimmer,
.dimmed.dimmable > .ui.visible.dimmer,
.ui.active.dimmer {
    display: block;
    opacity: 1;
}
.ui.disabled.dimmer {
    width: 0 !important;
    height: 0 !important;
}

.ui.page.dimmer {
    position: fixed;
    -webkit-transform-style: '';
            transform-style: '';
    -webkit-perspective: 2000px;
            perspective: 2000px;
    -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
            transform-origin: center center;
}
body.animating.in.dimmable,
body.dimmed.dimmable {
    overflow: hidden;
}
body.dimmable > .dimmer {
    position: fixed;
}
    
.blurring.dimmable > :not(.dimmer) {
    -webkit-filter: blur(0px) grayscale(0);
            filter: blur(0px) grayscale(0);
    -webkit-transition: 800ms filter ease;
    transition: 800ms filter ease;
}
.blurring.dimmed.dimmable > :not(.dimmer) {
    -webkit-filter: blur(5px) grayscale(0.7);
            filter: blur(5px) grayscale(0.7);
}


.blurring.dimmable > .dimmer {
    background-color: rgba(0, 0, 0, 0.6);
}
.blurring.dimmable > .inverted.dimmer {
    background-color: rgba(255, 255, 255, 0.6);
}

.ui.dimmer > .top.aligned.content > * {
    vertical-align: top;
}
.ui.dimmer > .bottom.aligned.content > * {
    vertical-align: bottom;
}

.ui.inverted.dimmer {
    background-color: rgba(255, 255, 255, 0.85);
}
.ui.inverted.dimmer > .content > * {
    color: #FFFFFF;
}

.ui.simple.dimmer {
    display: block;
    overflow: hidden;
    opacity: 1;
    width: 0%;
    height: 0%;
    z-index: -100;
    background-color: rgba(0, 0, 0, 0);
}
.dimmed.dimmable > .ui.simple.dimmer {
    overflow: visible;
    opacity: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 1;
}
.ui.simple.inverted.dimmer {
    background-color: rgba(255, 255, 255, 0);
}
.dimmed.dimmable > .ui.simple.inverted.dimmer {
    background-color: rgba(255, 255, 255, 0.85);
}