.jsfilter-list{
	list-style: none;
    padding: 0;
    margin: 0;
}

.jsfilter-list li{
	float: left;
	margin-right: 0px;
    margin-bottom: 5px;
}

.jsfilter-list li .input-group{
	font-size: 12px;
}

.jsfilter-list li .input-group .input-group-addon.filter-text{
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    white-space: normal;
    width: 100%;
    text-align: left;
    background: #ffffff;
    border-right: 1px solid #cccccc;
}

.jsfilter-list li .input-group .input-group-addon.btn{
    padding-left: 5px;
    padding-right: 5px;
}

.jsfilter-list li:hover .input-group .input-group-addon.filter-text{
    border-right-color: #ffffff;
}