//region width
.custom-width-auto{width:auto;}
.custom-width-auto_i{width:auto !important;}
$i: 0;
@while $i <= 1000 {.custom-width-#{$i}{width:#{$i}px;} $i: $i + 5;}
$i: 0;
@while $i <= 1000 {.custom-width-#{$i}_i{width:#{$i}px !important;} $i: $i + 5;}
$i: 0;
@while $i <= 100 {.custom-width-#{$i}pr{width:$i*1%;} $i: $i + 1;}
$i: 0;
@while $i <= 100 {.custom-width-#{$i}pr_i{width:$i*1% !important;} $i: $i + 1;}
$i: 0;
@while $i <= 1000 {.custom-width-max-#{$i}{max-width:#{$i}px;} $i: $i + 5;}
$i: 0;
@while $i <= 1000 {.custom-width-max-#{$i}_i{max-width:#{$i}px !important;} $i: $i + 5;}
$i: 0;
@while $i <= 1000 {.custom-width-min-#{$i}{min-width:#{$i}px;} $i: $i + 5;}
$i: 0;
@while $i <= 1000 {.custom-width-min-#{$i}_i{min-width:#{$i}px !important;} $i: $i + 5;}
//endregion width

//region height
.custom-height-auto{height:auto;}
.custom-height-auto_i{height:auto !important;}
$i: 0;
@while $i <= 100 {.custom-height-#{$i}{height:#{$i}px;} $i: $i + 5;}
$i: 0;
@while $i <= 100 {.custom-height-#{$i}_i{height:#{$i}px !important;} $i: $i + 5;}
$i: 0;
@while $i <= 1000 {.custom-height-max-#{$i}{max-height:#{$i}px;} $i: $i + 5;}
$i: 0;
@while $i <= 1000 {.custom-height-max-#{$i}_i{max-height:#{$i}px !important;} $i: $i + 5;}
$i: 0;
@while $i <= 1000 {.custom-height-min-#{$i}{min-height:#{$i}px;} $i: $i + 5;}
$i: 0;
@while $i <= 1000 {.custom-height-min-#{$i}_i{min-height:#{$i}px !important;} $i: $i + 5;}
//endregion height

//region font-size
$i: 0;
@while $i <= 50 {.custom-font-size-#{$i}{font-size:#{$i}px;} $i: $i + 1;}
$i: 0;
@while $i <= 50 {.custom-font-size-#{$i}_i{font-size:#{$i}px !important;} $i: $i + 1;}
//endregion font-size

//region line-height
$i: 0;
@while $i <= 50 {.custom-line-height-#{$i}{line-height:#{$i}px;} $i: $i + 1;}
$i: 0;
@while $i <= 50 {.custom-line-height-#{$i}_i{line-height:#{$i}px !important;} $i: $i + 1;}
//endregion font-size

//region margin
.custom-margin-auto{margin:auto;}
.custom-margin-auto_i{margin:auto !important;}
$i: 0;
@while $i <= 50 {.custom-margin-#{$i}{margin:#{$i}px;} $i: $i + 1;}
$i: 0;
@while $i <= 50 {.custom-margin-top-#{$i}{margin-top:#{$i}px;} $i: $i + 1;}
$i: 0;
@while $i <= 50 {.custom-margin-bottom-#{$i}{margin-bottom:#{$i}px;} $i: $i + 1;}
$i: 0;
@while $i <= 50 {.custom-margin-left-#{$i}{margin-left:#{$i}px;} $i: $i + 1;}
$i: 0;
@while $i <= 50 {.custom-margin-right-#{$i}{margin-right:#{$i}px;} $i: $i + 1;}
//endregion margin

//region padding
.custom-padding-auto{padding:auto;}
.custom-padding-auto_i{padding:auto !important;}
$i: 0;
@while $i <= 50 {.custom-padding-#{$i}{padding:#{$i}px;} $i: $i + 1;}
$i: 0;
@while $i <= 50 {.custom-padding-top-#{$i}{padding-top:#{$i}px;} $i: $i + 1;}
$i: 0;
@while $i <= 50 {.custom-padding-bottom-#{$i}{padding-bottom:#{$i}px;} $i: $i + 1;}
$i: 0;
@while $i <= 50 {.custom-padding-left-#{$i}{padding-left:#{$i}px;} $i: $i + 1;}
$i: 0;
@while $i <= 50 {.custom-padding-right-#{$i}{padding-right:#{$i}px;} $i: $i + 1;}
//endregion padding