section#header{

	.header-info{
		
		.header-info_group{

			.header-info_link{

				&:hover{
					color: #000000;
				}
			}
		}
	}

	.header-info_user{

		.header-info_link{

			&:hover{
				color: #000000;

				.link-title{
					border-bottom-color: #000000;
				}
			}
		}
	}
	.header-info_phone{

		.city-select{

			&:hover{

				.city_name{
					color: #000000;
					border-bottom: 1px dashed #000000;
				}
			}
		}
	}

	.header-logo{
		background: url(images/black_nlogo.png) no-repeat left center;
	}
}

section#header-navigation{
	background: #000000;

	.nav-col{
		display: flex;

		.nav-black-friday{
			margin-left: auto;
			width: 300px;
			height: 70px;
			background: url(images/header_black_friday.png) no-repeat center center;
			background-size: contain;
		}

		.nav-menu-right{
			margin-left: auto;
		}
	}

	.nav-header-logo{
		background: url(images/black_nlogo-small.png) no-repeat left center;
	}
	
	.nav-catalog-wr{

		.catalog-menu-link{

			.nav-catalog_categories{

				> ul{
					border-left: 2px solid #000000;
					border-bottom: 2px solid #000000;
					border-right: 2px solid #000000;

					> li{

						.nav-catalog_categories-right{
							border-bottom: 2px solid #000000;
							border-right: 2px solid #000000;

							> .slimScrollDiv{

								> ul{

									> li{

										> ul{

											> li{

												&:hover{

													> a{
														color: #000000;
													}
												}
											}
										}

										&:hover{

											> a{
												color: #000000;
											}
										}
									}
								}
							}

							> .nav-catalog_categories-hot{

								> ul{

									> li{

										&:hover{

											> a{
												color: #000000;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

article.product-item  {

	.product-inside{

		&:hover{
			border-color: #000000;
		}
	}
}


section#header-nav-mobile{

	.navbar{

		.navbar-nav{
			margin: 0px;
		}

		&.navbar-default{

			.navbar-header{
				background-color: #000000;

				.navbar-logo{

					.header-logo{
						background: url(images/black_nlogo-small.png) no-repeat left center;
						background-size: contain;
					}
				}

				.navbar-items{

					.navbar-header-item{
						border-right: 1px solid #313131;

						.badge{
							color: #000000;
						}

						&:hover,
						&:focus{
							background: #313131;
						}
					}
				}
			}

			.navbar-collapse-menu{

				> ul.navbar-nav{

					> li{

						> ul{

							> li{

								> .nav-catalog_categories-right{

									> ul{

										> li{

											> ul{

												> li{

													a{

														&:before{
															border-color: transparent transparent transparent #000000;
														}
													}
												}
											}
										} 
									}
								}
							} 
						}
					}
				}
			} 
		}
		
		.mheader-search_form{
			
			.msearch-results{

				ul.products-list{

					li{

						&:hover{
							border-color: #000000;
						}
					}
				}

				ul.categories-list{
			
					> li{
						color: #000000 !important;
			
						> ul{
			
							> li{
								color: #000000 !important;
							}
						}
			
						a.active{
							color: #000000;
						}
					}
				}
			}
		}
	} 
}