html{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0px 0px 0px 0px;
	background: #ffffff;
	color: #333333;
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	display: flex;
    flex-direction: column;
	height: 100vh;

	&.search-active{
		max-height: 100%;
		overflow: hidden;
	}

	&.no-scroll{		
		max-height: 100%;
		overflow: hidden;
		
		.dimmer-parent{
			max-height: 100%;
			overflow: hidden;
		}
	}

	.dimmer-parent{
		height: inherit;
	}

	&.sticky{
		
		.page-wrap {
			min-height: 100%;
			margin-bottom: -357px;
			
			&:after {
				content: "";
				display: block;
				height: 357px; 
			}
		}
		
		footer {
			min-height: 357px; 
		}
	}
}

.bg-grey{
	background: #f2f2f2;
}
.bg-white{
	background: #ffffff;
}

.float-b{
	width: 100%;
	float: left;
}

.square-b {
	position: relative;

	&:after {
		content: "";
		display: block;
		padding-bottom: 100%;
	}
	
	.square_content {
		position: absolute;
		width: 100%;
		height: 100%;

		.concurs_btn_upload{
			width: 100%;
			height: 100%;
			border: 1px dashed $brand-danger;
			text-align: center;
			display: table;
			position: relative;
			overflow: hidden;
			cursor: pointer;

			.btn-content{
				display: table-cell;
				vertical-align: middle;
				position: relative;
				overflow: hidden;
				cursor: pointer;
				z-index: 1;
				
				.icon{
					width: 100%;
	
					.ca-icon{
						font-size: 48px;
						color: $text-danger;
					}
				}
	
				.btn-text{
					font-size: 12px;
					margin-top: 15px;
					color: $text-danger;
				}
			}

			input[type=file] {
				position: absolute;
				top: 0;
				right: 0px;
				left: 0px;
				min-width: 100%;
				height: 100%;
				font-size: 0;
				text-align: right;
				filter: alpha(opacity=0);
				opacity: 0;
				outline: none;
				background: white;
				cursor: pointer;
				display: block;
				z-index: 2;
			}

			&:hover{
				background: $gray-lighter;
			}
		}

		.concurs_uploaded_photo-wr{
			width: 100%;
			height: 100%;
			overflow: hidden;
			position: relative;
			border: 1px dashed $brand-danger;
			display: none;

			.concurs_uploaded_photo-item{
				width: 100%;
				height: 100%;
				background-position: top center;
				background-size: cover;
				background-repeat: no-repeat;
				position: relative;
				z-index: 1;
			}

			.btn-group{
				width: 100%;
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 2;
			}
		}

		.concurs_user_photo-wr{
			width: 100%;
			height: 100%;
			overflow: hidden;
			position: relative;
			display: block;

			.concurs_user_photo-item{
				width: 100%;
				height: 100%;
				background-position: top center;
				background-size: cover;
				background-repeat: no-repeat;
				position: relative;
				z-index: 1;
			}

			.concurs_user_photo-vote-wr{
				position: absolute;
				z-index: 2;
				background: transparent;
				height: 32px;
				left: 0;
				right: 0;
				bottom: 0;

				.concurs_user_photo-btn{
					background: rgba(0,0,0,0.45);
					font-size: 14px;
					color: #ffffff;
					line-height: 32px;
					top: 50%;
					text-align: center;
					float: right;
					min-width: 50px;
					padding: 0 5px;
					margin-left: 5px;
					display: block;
					height: 32px;
					@include transition-property(background);
					@include transition-duration(0.3s);

					&:hover{
						background: rgba(0,0,0,0.75);
					}
				}
			}

			&:hover{

				.concurs_user_photo-vote-wr{
					opacity: 1;
				}
			}
		}
	}
}
@media (max-width:480px) {
    
	.square-b {
		
		.square_content {

			.concurs_btn_upload{

				.btn-content{
					
					.icon{
		
						.ca-icon{
							font-size: 28px;
						}
					}
		
					.btn-text{
						display: none;
					}
				}
			}
		}
	}
}


// .container{
// 	width: 1200px;
// }

.heading-title_simple{
    color: #333333;
}

a:hover, a:focus{
	color: #333333;
	outline: none;
}

.heading-title{
    color: #333333;
    position: relative;
    text-align: center;
	margin-bottom: 40px;

	span{
		display: inline-block;
		padding: 0 10px;
		background: #ffffff;
		z-index: 2;
		position: relative;
	}

	&:before,
	&:after{
		content: "";
		position: absolute;
		width: 50%;
		top: 50%;
		border-bottom: 1px solid #cccccc;
		z-index: 1;
	}

	&:before{
		left: 0;
	}

	&:after{
		right: 0;
	}
}

.label-line{
	color: #b4b4b4;
    position: relative;
    text-align: center;
    width: 100%;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    margin: 0;

	span{
		display: inline-block;
		padding: 0 10px;
		background: #ffffff;
		z-index: 2;
		position: relative;
	}

	&:before,
	&:after{
		content: "";
		position: absolute;
		width: 50%;
		top: 50%;
		border-bottom: 1px solid #cccccc;
		z-index: 1;
	}

	&:before{
		left: 0;
	}

	&:after{
		right: 0;
	}
}

#reviews .media{
	border-bottom: 1px solid #d2d2d2;

	&:last-child{
		border-bottom: 0;
	}
}

section#header{
	background-color: #ffffff;
	padding-top: 10px;
    z-index: 131;
    position: relative;
	top:0px;
	left:0px;
	right:0px;
	color:#333333;
	padding-bottom: 15px;

	.header-info{
		margin-bottom: 10px;
		display: inline-block;
		
		.header-info_group{
			list-style: none;
			padding: 0;
			margin: 0;

			> li{
				border-right: 1px dotted #888888;
				display: inline-block;
				float: left;
				padding: 0px 10px;
				font-size: 14px;
				line-height: 1;
				color: #ffffff;

				&:first-child{
					padding-left: 0px;
				}

				&:last-child{
					border-right: 0px;
					margin-right: 0px;
				}
			}

			.header-info_link{
				color: #666666;

				&:hover{
					color: #fb0000;
				}
			}
		}
	}

	.header-info_user{
		margin-bottom: 10px;
		float: right;
		font-size: 14px;
		line-height: 1;

		.header-info_link{
			color: #666666;
			float: right;
			margin-left: 5px;

			i.ca-icon{
				font-size: 18px;
				line-height: 14px;
				display: inline-block;
				float: left;
				margin-right: 5px;
			}

			.link-title{
				border-bottom: 1px dotted #666666;
			}

			&:hover{
				color: #fb0000;

				.link-title{
					border-bottom-color: #fb0000;
				}
			}
		}
	}
	.header-info_phone{
		line-height: 34px;
		height: 34px;
		float: right;

		.city-select{
			outline: none;
			float: right;
			font-weight: 700;

			.ca-icon{
				&.ca-icon_marker{
					font-size: 24px;
					display: inline-block;
					float: left;
					padding: 5px 0;
					margin-right: 10px;
					color: #c5c5c5;
				}

				&.ca-icon_arrow-down-slim{
					font-size: 10px;
					line-height: 38px;
					float: right;
					margin-left: 5px;
				}
			}

			&:hover{

				.city_name{
					color: $brand-danger;
					display: inline-block;
					border-bottom: 1px dashed #fb0000;
					line-height: 20px;
				}
			}
		}

		.phone{
			outline: none;
			float: right;
			margin-left: 15px;
			font-weight: 700;

			.ca-icon{
				&.ca-icon_smartphone{
					font-size: 24px;
					display: inline-block;
					float: left;
					padding: 5px 0;
					margin-right: 10px;
    				color: #c5c5c5;
				}
			}
		}
	}

	.header-logo{
		background: url(images/nlogo.png) no-repeat left center;
		width: 110px;
		height: 110px;
		display: block;
		background-size: contain;
		position: absolute;
		top:-2px;
		
		&.logo-winter{
			background: url(images/logo-winter.png) no-repeat left center;
			background-size: contain;
		}
	}

	.header-search_form{
		padding-left: 125px;

		.search-wr{
			position: relative;
			z-index: 2;

			.search-input{
				z-index: 2;
				position: relative;
				
				input{
					padding-right:32px;

					&:focus{
						border-color: #cccccc;
						-webkit-box-shadow: none;
						box-shadow: none;
					}
					
					&.active{
						border-bottom-color: #ffffff;
					}
				}

				.search-icon{
					position: absolute;
					top: 0px;
					bottom: 0px;
					right: 1px;
					line-height: 34px;
					padding: 0 5px;
					background: transparent;
				}
			}


			.search-results{
				display: none;
				position: absolute;
				z-index: 1;
				left: 0;
				right: 0;
				top: 100%;
				background: #ffffff;
				min-height: 50px;
				padding: 15px;
				border: 1px solid #cccccc;
				border-top: none;

				.col-delimiter{
					position: absolute;
					left: 58.33%;
					top: 32px;
					bottom: 15px;
					border-right: 1px solid #e2e2e2;
				}

				ul.products-list{
					list-style: none;
					padding: 0;
					margin: 0;

					li{
						float: left;
						display: block;
						width: 100%;
						border: 1px solid #ffffff;
						position: relative;

						&:hover{
							border-color: $brand-danger;
						}

						a{
							display: block;

							.img-wr{
								width: 50px;
								height: 50px;
								float: left;
								overflow: hidden;
								text-align: center;
								padding-right: 5px;
								line-height: 50px;
								background: #ffffff;

								img{
									max-width: 100%;
									max-height: 100%;
								}
							}

							.title{
								font-size: 12px;
								line-height: 14px;
								display: inline-block;
								width: 100%;
								overflow: hidden;
								white-space: nowrap;
								text-overflow: ellipsis;
								margin-top: 10px;
								padding: 0 5px 0 55px;
								left: 0;
								position: absolute;
							}

							.price{
								display: block;
								width: 100%;
								padding: 0 5px 0 55px;
								left: 0;
								position: absolute;
								top: 24px;

								.currency{
									font-size: 10px;
								}

								ins{
									font-size: 14px;
									line-height: 16px;
									font-weight: 600;
									color: $text-danger;
									display: inline-block;
									text-decoration: none;
									float: left;
									margin-right: 5px;
								}

								del{
									font-size:11px;
									line-height: 16px;
									font-weight:400;
									display: inline-block;
									vertical-align: bottom;
									height: 16px;
									float: left;
								}
							}
						}
					}
				}

				ul.categories-list{
					list-style: none;
					padding: 0;
					margin: 0;
					display: block;
					float: left;
					width: 100%;
			
					> li{
						float: left;
						display: block;
						width: 100%;
						border-bottom: 1px solid #f2f2f2;
						position: relative;
						color: #bf0000 !important;
			
						> a.parent-title{
							font-size: 16px;
							font-weight: bold;
							line-height: 16px;
							display: inline-block;
							width: 100%;
							overflow: hidden;
							white-space: nowrap;
							text-overflow: ellipsis;
							margin-top: 10px;
							padding: 0;
						}
			
						> span.products-count{
							position: absolute;
							right: 10px;
							top: 0;
							font-size: 12px;
							line-height: 26px;
						}
			
						> ul{
							list-style: none;
							padding: 0;
							margin: 0;
							display: block;
							float: left;
							width: 100%;
			
							> li{
								float: left;
								display: block;
								width: 100%;
								border-bottom: 1px solid #f2f2f2;
								position: relative;
								color: #bf0000 !important;
								
								> a{
									float: left;
									display: block;
									width: 100%;
									padding: 5px 0px 5px 15px;
									font-size: 12px;
									line-height: 14px;
									height: 24px;
									position: relative;
									
									.title{
										display: inline-block;
										width: 170px;
										overflow: hidden;
										white-space: nowrap;
										text-overflow: ellipsis;
									}
						
									.products-count{
										position: absolute;
										right: 10px;
										top: 50%;
										margin-top: -7px;
										font-size: 12px;
									}
								}
							}
						}
			
						a.active{
							color: $brand-danger;
						}
					}
				}
			}
		}

		.header-search_form-shadow{
			display: inline-block;
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: rgba(0, 0, 0, 0.5);
			z-index: 1;
			display: none;
		}
	}
}

section#header-navigation{
	background: $brand-danger;
	position: relative;
	z-index: 100;

	.nav-header-logo{
		background: url(images/nlogo-small.png) no-repeat left center;
		width: 64px;
		height: 64px;
		display: none;
		background-size: contain;
		position: absolute;
		top: 3px;
		
		&.logo-winter{
			background: url(images/logo-winter-small.png) no-repeat left center;	
			background-size: contain;		
		}
	}

	.nav-catalog-wr{
		height: 70px;
		vertical-align: middle;
		float: left;
		padding: 0px 15px;

		.catalog-menu-link{
			padding-left: 110px;
			font-size: 13pt;
			color: #ffffff;
			text-transform: uppercase;
			display: block;
			line-height: 70px;
			cursor: pointer;

			> .ca-icon.ca-icon_menu{
				font-size: 14px;
			}

			.nav-catalog_categories{
				display: none;
				position: absolute;
				top: 70px;
				left: 15px;
				right: 15px;
				z-index: 3;
				text-transform: uppercase;

				&:before {
					content: "";
					position: absolute;
					top: -10px;
					left: 155px;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 10px 10px 0 10px;
					border-color: #ffffff transparent transparent transparent;
					transform: rotate(180deg);
				}

				> ul{
					list-style: none;
					padding: 0;
					margin: 0;
					width: 200px;
					background: #ffffff;
					float: left;
					border-left: 2px solid $brand-danger;
					border-bottom: 2px solid $brand-danger;
					border-right: 2px solid $brand-danger;

					> li{
						background: #ffffff;
						border-bottom: 1px dotted #e8e8e8;
						border-left: 5px solid #ffffff;
						border-right: 1px solid #e8e8e8;
						padding: 10px;
						color: #333333;
						text-decoration: none;
						font-size: 14px;
						display: block;
						line-height: 20px;
						cursor: pointer;

						> .ca-icon.ca-icon.ca-icon_arrow-right{
							line-height: 20px;
							float: right;
							color: #9e9e9e;
							font-size: 8px;
							@include transition-property(transform);
							@include transition-duration(0.2s);
						}

						.nav-catalog_categories-right{
							display: none;
							position: absolute;
							top: 0;
							bottom: 0;
							background: #ffffff;
							right: 0;
							left: 198px;
							border-bottom: 2px solid #bf0000;
							border-right: 2px solid #bf0000;

							> .slimScrollDiv{

								> ul{
									display: block;
									list-style: none;
									padding: 0;
									margin: 0;
									width: 200px;
									background: #ffffff;
									float: left;
									position: absolute;
									left: 0;
									top: 0;
									bottom: 0;
									border-right: 0px solid #e8e8e8;
									overflow: hidden;

									> li{
										float: left;
										width: 100%;

										> a{
											padding: 0px 0px 0px 15px;
											color: #333333;
											font-size: 14px;
											display: block;
											line-height: 14px;
											margin-top: 15px;
											margin-bottom: 5px;
											font-weight: 600;
										}

										> ul{
											list-style: none;
											padding-left: 15px;
											width: 100%;
											text-align: left;
											float: left;

											> li{

												> a{
													color: #333333;
													font-size: 12px;
													display: block;
													line-height: 24px;
												}

												&:hover{

													> a{
														color: $brand-danger;
													}
												}
											}
										}

										&:hover{

											> a{
												color: $brand-danger;
											}
										}
									}
								}
							}

							> .nav-catalog_categories-hot{
								display: block;
								position: absolute;
								right: 0;
								top: 0;
								bottom: 0;
								left: 198px;
								background: #ffffff;
								border-left: 1px solid #e8e8e8;

								> ul{
									list-style: none;
									display: block;
									padding: 0;
									width: 100%;
									margin: 0;

									> li{
										display: block;
										text-align: center;
										padding: 10px 15px;

										> a{
											height: 125px;
											width: 100%;

											> .img-wr{
												height: 110px;
												display: flex;
												justify-content: center;

												> img{
													max-width: 100%;
													max-height: 100%;
												}
											}

											> .title{
												display: block;
												text-align: center;
												line-height: 15px;
												font-size: 12px;
												white-space: nowrap;
												overflow: hidden;
												text-overflow: ellipsis;
											}

										}

										&:hover{

											> a{
												color: $brand-danger;
											}
										}
									}
								}
							}

							&.nav-gps-monitoring_wr{
								
								> .slimScrollDiv{
									display: none;
								}

								> .nav-catalog_categories-hot{
									display: block;
									left: 0px;
									border-left: 0;

									> ul{
										position: absolute;
										bottom: 0px;
										top: 0px;
										height: 100%;

										> li{
											display: table;
											text-align: center;
											padding: 10px 15px;
											height: 100%;
											vertical-align: middle;

											> a{
												height: auto;
    											width: 100%;

												> .img-wr{
													height: 250px;
													display: table-cell;
													vertical-align: middle;

													> img{
														max-width: 100%;
														max-height: 100%;
													}
												}

												> .title{
													display: block;
													text-align: center;
													line-height: 24px;
													font-size: 18px;
													font-weight: bold;
													white-space: nowrap;
													overflow: hidden;
													text-overflow: ellipsis;
												}
											}

											&.divider{
												position: absolute;
												top: 10%;
												bottom: 0;
												left: 49%;
												width: 2px;
												background: #eeeeee;
												padding: 0;
												max-height: 80%;
											}
										}
									}
								}
							}
						}

						&:hover {
							border-right: 1px solid #ffffff;
							border-left: 5px solid #e8e8e8;
							margin-top: 0px;
							
							> .ca-icon.ca-icon.ca-icon_arrow-right{
								@include transform(rotate(180deg));
							}

							> .nav-catalog_categories-right{
								display: block;
							}
						}
					}
				}
			}

			&:hover{
			
				.nav-catalog_categories{
					display: block;
				}
			}
		}
	}

	.nav-menu{
		list-style: none;
		padding: 0;
		margin: 0;
		display: block;
		float: left;

		> li{
			display: block;
			float: left;
			height: 70px;
			font-size: 18px;
			text-transform: uppercase;
			color:#ffffff;
			text-align: center;
			position: relative;

			> a{
				color: #ffffff;
				outline: none;
				position: relative;
				padding: 15px;
				line-height: 40px;
				height: 70px;
				vertical-align: middle;
				float: left;
			}

			> .cart-b {
				line-height: 40px;
				text-transform: uppercase;
				padding: 15px 0px 15px 15px;
				position: relative;
				color: #ffffff;
				float: left;

				.ca-icon_shopping-cart {
					font-size: 40px;
					line-height: 40px;
					float: left;
					margin-right: 10px;
				}

				.cart-description{
					float: left;
					font-size: 14px;
					text-transform: initial;

					.cart-empty{
						line-height: 40px;
					}

					.cart-full{
						line-height: 16px;
						margin-top: 4px;
					}

					.cart-price{
						line-height: 16px;
						margin-top: 4px;
					}
				}
			}
		}

		&.nav-menu-right{
			float: right;
		}
	} 

	&.nav-static-top,
	&.nav-fixed-top{
		padding: 0;
		margin: 0;
	}

	&.nav-fixed-top{
		position: fixed;
		right: 0;
		left: 0;
		top: 0;
		z-index: $zindex-navbar-fixed;

		.nav-catalog-wr{

			.catalog-menu-link{
				padding-left: 67px !important;
			}
		}
	}
}

/* END section#header */

.badge{
	&.badge-white{
		background: #ffffff;
		color: #666666;
	}
}


@media (min-width: 1029px) {
	section#header-nav-mobile{
		display: none;
	}

	.navbar-nav{
		font-size: 1.73rem;
	}

	section#header{
		position: relative;
	}

	section#wr-banner .wr-banner-home{
		width: 100%;
		height: auto;
		overflow: hidden;

		.bxslider{
			padding: 0px;
			list-style: none;

			li {
				display: none;

				&:first-child {
					display: block;
				}
			}
		}
	}

	.collapse-cart{
		width: 350px;
		left: auto;
		top: 100%;
		right: 0;
		border: 0;
		background: #f9f9f9;
		position: absolute;
		-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    	box-shadow: 0 6px 12px rgba(0,0,0,.175);

		&-inner{
			padding: 15px;
			position: relative;
			z-index: 2;
		}

		.wr-cart-items {
			max-height: 200px;
			overflow-y: auto;
			color: #333333;

			.cart-item {
				margin:0;
				border-bottom:1px solid #e2e2e2;
				padding: 15px 0px;

				h4 {
					margin-top: 0;
					text-overflow: ellipsis;
					width: 100%;
					white-space: nowrap;
					overflow: hidden;
					font-size: 16px;
					padding-right: 10px;
					line-height: 16px;
					color: #E87169;

					a{
						text-overflow: ellipsis;
						width: 100%;
						white-space: nowrap;
						overflow: hidden;
						color: #E87169;
					}
				}

				p {
					margin:0;
					font-size:16px;
					color:#666666;
					text-align: left;
				}
			}

			.row{
				> div {
					padding:0;
				}
			}

			img {
				padding-right:10px;
			}

			a.remove {
				position: absolute;
				top: 0px;
				right: 0px;
				font-size: 16px;
				line-height: 19px;
				color: #999999;
			}

			.empty_cart-text{
				text-transform: initial;
				text-align: left;
			}
		}
		
		.cart-btn{
			margin-top: 15px;
			
			.close-cart{
				font-size: 20px;
				line-height: 25px;
				height: 25px;
				float: right;
				color: #333333;
			}

			.btn-ssm{
				padding: 2px 10px;
				font-size: 12px;
				line-height: 1.5;
				border-radius: 0px;
				text-transform: initial;
			}
		}
	}

}
/****** LOGIN MODAL ******/
.static-form-container {
	padding: 15px;
	max-width: 320px;
	width: 100% !important;
	margin: 0 auto;
	margin-bottom: 15px;
	
	h1 {
		text-align: center;
		font-size: 1.8em;
		margin-top: 0;
	}

	.wr-help{
		font-size: 12px;

		a{
			text-decoration: none;
			color: #666;
			font-weight: 400;
			text-align: center;
			display: inline-block;
			opacity: 0.6;
			transition: opacity ease 0.5s;
		}
	}
}

.modal-form-container {
	padding: 30px;
	max-width: 350px;
	width: 100% !important;
	background-color: #F7F7F7;
	margin: 0 auto;
	border-radius: 2px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	
	h1 {
		text-align: center;
		font-size: 1.8em;
	}

	.wr-help{
		font-size: 12px;

		a{
			text-decoration: none;
			color: #666;
			font-weight: 400;
			text-align: center;
			display: inline-block;
			opacity: 0.6;
			transition: opacity ease 0.5s;
		}
	}
}

.modal-cities {
	padding: 30px;
	width: 100%;
	background-color: #F7F7F7;
	margin: 0 auto;
	border-radius: 2px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	
	h1 {
		text-align: left;
		font-size: 1.8em;
		margin: 0;

		.modal-close{
			line-height: 34px;
			float: right;
			height: 34px;
			vertical-align: middle;
			cursor: pointer;

			i{
				float: left;
    			line-height: 34px;
			}

			&:hover{
				color: $brand-danger;
			}
		}
	}

	.delivery-wr{
		line-height: 32px;
		margin-top: 10px;
		font-size: 14px;

		.ca-icon{
			font-size: 32px;
			float: left;
			margin-right: 10px;
		}
	}

	.city-wr{
		padding: 5px;
		display: inline-block;
		@include border-radius(3px);
		cursor: pointer;
		font-size: 14px;
		line-height: 16px;
		
		.ca-icon.ca-icon_remove{
			display: none;
			float: right;
			line-height: 16px;
			margin-left: 10px;
		}

		&:hover,
		&.active{
			background: $brand-danger;
			color:#ffffff;
		}

		&.active:hover{
			.ca-icon.ca-icon_remove{
				display: inline-block;
			}
		}
	}
}

.products-wr{
	padding-left: 265px;
	margin-left: -280px;

	#catalog-wr{
		margin: 15px 15px 0px 15px;
		padding: 0 15px;
	}
}

.catalog-header-wr{
	padding: 20px 15px;
	background: #ffffff;
	border-bottom: 1px solid #f2f2f2;

	h1.catalog-title{
		margin: 0;
		padding: 0;
		font-size: 24px;
		font-weight: 700;
		line-height: 30px;
		height: 30px;

		.catalog-count{
			font-size: 14px;
			color: #8d8d8d;
			position: relative;
			top: -7px;
		}
	}
	
	p.page-number{
		margin: 0;
		font-size: 14px;
		font-weight: 600;
	}

	.toggle-display_wr{
		float: right;
		line-height: 50px;
		font-size: 27px;

		.toggle_item{
			font-size: 27px;
			line-height: 50px;
			display: inline-flex;
			vertical-align: middle;
			padding: 0 2px;
			color: #d0d0d0;
			cursor: pointer;

			&:hover,
			&.active{
				color: $brand-danger;
			}
		}

		.toggle_item:nth-child(1){
			font-size: 26px;
		}
	}

	.toggle-filter_wr{
		float: right;
		line-height: 50px;
		font-size: 27px;

		.toggle_item{
			font-size: 24px;
			line-height: 50px;
			display: inline-flex;
			vertical-align: middle;
			padding: 0 5px;
			color: #d0d0d0;
			cursor: pointer;

			&:hover,
			&.active{
				color: $brand-danger;
			}
		}
	}

	.toggle-sortby_wr{
		float: right;
		line-height: 50px;
		font-size: 14px;
		position: relative;
		margin-right: 15px;

		.toggle_title{
			font-size: 16px;
			font-weight: 400;
			line-height: 50px;
			display: inline-flex;
			vertical-align: middle;
			padding: 0 10px;
			color: #333333;
		}

		.toggle-link{
			position: relative;
			top: 3px;
			border-bottom: 1px dotted #333333;
			color: #333333;
			font-weight: 700;

			.ca-icon.ca-icon_arrow-down{
				font-size: 8px;
    			margin-left: 5px;
			}

			.ca-icon.ca-icon_sort-asc,
			.ca-icon.ca-icon_sort-desc{
				font-size: 12px;
    			margin-right: 5px;
			}

			.dropdown-toggle{
				cursor: pointer;
			}

			.dropdown-menu{
				margin-top: -1px;
				left: -10px;
    			z-index: 991;
			}
		}
	}
}

.mobile-search-wr{
	display: none;
}

section#header-nav-mobile{
	padding-top: 50px;

	.navbar{
		border-radius: 0px;
		margin-bottom: 0;

		.navbar-nav{
			margin: 0px;
		}

		&.navbar-default{
			background-color: #eeeeee;
			border: 0;

			.navbar-header{
				background-color: $navbar-inverse-bg;
				height: 50px;
				position: relative;
				z-index: 2;

				.navbar-logo{
					position: absolute;
					width: 50px;
					height: 50px;
					left: 0;
					top: 0;

					.header-logo{
						background: url(images/logo.png) no-repeat left center;
						width: 40px;
						height: 40px;
						display: block;
						background-size: contain;
						margin: 5px;

						&.logo-winter{
							background: url(images/logo-winter-small.png) no-repeat left center;
							background-size: contain;
						}
					}
				}

				.navbar-items{
					padding-left: 65px;

					.navbar-header-item{
						padding: 14px 15px;
						color: #ffffff;
						border-right: 1px solid $navbar-inverse-border;
						text-align: center;
						text-decoration: none;
						cursor:pointer;
						display: flex;
						justify-content: center;
						align-items: center;

						.title{
							margin-left: 5px;
						}

						.badge{
							color: $navbar-inverse-bg;
							background: #ffffff;
							margin-left: 5px;
							font-size: 10px;
							display: none;
						}

						&:hover,
						&:focus{
							background: $navbar-inverse-link-active-bg;
						}
					}
				}
			}

			.navbar-collapse-menu{
				height: 100% !important;
				max-height: 100%;
				position: fixed;
				background: #eeeeee;
				left: 0;
				right: 0;
				bottom: 0;
				overflow: auto !important;
				top: 50px;

				> ul.navbar-nav{

					> li{
						
						ul{
							list-style: none;
							padding: 0;
						}

						> a{
							border-top: 1px dotted #d2d2d2;
							border-bottom: 1px dotted #d2d2d2;
							margin-top: -1px;

							> .ca-icon_arrow-down{
								line-height: 20px;
								float: right;
								color: #9e9e9e;
								font-size: 8px;
								@include transition-property(transform);
								@include transition-duration(0.2s);
							}
						}

						> ul{
							display: none;

							> li{
								position: relative;
								display: block;
								padding: 10px 15px;
								border-bottom: 1px dotted #d2d2d2;
								text-decoration: none;
								color: #555555;
								background-color: #ffffff;

								> .ca-icon_arrow-right{
									line-height: 20px;
									float: right;
									color: #9e9e9e;
									font-size: 8px;
									@include transition-property(transform);
									@include transition-duration(0.2s);
									@include transform(rotate(90deg));
								}

								> .nav-catalog_categories-right{
									display: none;
									border-top: 1px dotted #d2d2d2;
									margin-top: 10px;
									margin-left: -15px;
									margin-right: -15px;

									> ul{
										padding-left: 15px;
										padding-right: 15px;

										> li{

											> a{
												font-size: 14px;
												font-weight: 500;
												position: relative;
												display: block;
												padding: 5px 0px;
												border: none;
												text-decoration: none;
												color: #555555;
												background-color: #ffffff;
												margin-top: 0px;
												line-height: 20px;
											}

											> ul{
												padding-bottom: 10px;
												background: #ffffff;
												display: block;

												> li{

													a{
														position: relative;
														display: block;
														padding: 5px 10px;
														border: 0;
														text-decoration: none;
														color: #555555;
														background-color: #ffffff;
														font-size: 12px;
														line-height: 20px;

														&:before{
															content: " ";
															width: 0;
															height: 0;
															border-style: solid;
															border-width: 4px 0 4px 4px;
															border-color: transparent transparent transparent $brand-danger;
															position: absolute;
															left: 0;
															top: 50%;
															margin-top: -4px;
														}
													}
												}
											}
										} 
									}

									.nav-catalog_categories-hot{
										display: none;
									}
								}

								&.active{

									> .ca-icon_arrow-right{
										@include transform(rotate(270deg));
									}
									
									> .nav-catalog_categories-right{
										display: block;
									}
								}
							} 
						} 

						&.active{

							> a{

								> .ca-icon_arrow-down{
									@include transform(rotate(180deg));
								}
							}

							ul{
								display: block;
							}
						} 
					}
				}
			} 
		}
		
		.mheader-search_form{
			
			.msearch-results{
				display: none;
				position: fixed;
				z-index: 3;
				left: 15px;
				right: 15px;
				top: 115px;
				bottom: 15px;
				overflow-y: auto;
				background: #ffffff;
				min-height: 50px;
				padding: 15px;
				border: 1px solid #cccccc;
				border-top: none;

				.col-delimiter{
					position: absolute;
					left: 58.33%;
					top: 32px;
					bottom: 15px;
					border-right: 1px solid #e2e2e2;
				}

				ul.products-list{
					list-style: none;
					padding: 0;
					margin: 0;

					li{
						float: left;
						display: block;
						width: 100%;
						border: 1px solid #ffffff;
						position: relative;

						&:hover{
							border-color: $brand-danger;
						}

						a{
							display: block;

							.img-wr{
								width: 50px;
								height: 50px;
								float: left;
								overflow: hidden;
								text-align: center;
								padding-right: 5px;
								line-height: 50px;
								background: #ffffff;

								img{
									max-width: 100%;
									max-height: 100%;
								}
							}

							.title{
								font-size: 12px;
								line-height: 14px;
								display: inline-block;
								width: 100%;
								overflow: hidden;
								white-space: nowrap;
								text-overflow: ellipsis;
								margin-top: 10px;
								padding: 0 5px 0 55px;
								left: 0;
								position: absolute;
							}

							.price{
								display: block;
								width: 100%;
								padding: 0 5px 0 55px;
								left: 0;
								position: absolute;
								top: 24px;

								.currency{
									font-size: 10px;
								}

								ins{
									font-size: 14px;
									line-height: 16px;
									font-weight: 600;
									color: $text-danger;
									display: inline-block;
									text-decoration: none;
									float: left;
									margin-right: 5px;
								}

								del{
									font-size:11px;
									line-height: 16px;
									font-weight:400;
									display: inline-block;
									vertical-align: bottom;
									height: 16px;
									float: left;
								}
							}
						}
					}
				}

				ul.categories-list{
					list-style: none;
					padding: 0;
					margin: 0;
					display: block;
					float: left;
					width: 100%;
			
					> li{
						float: left;
						display: block;
						width: 100%;
						border-bottom: 1px solid #f2f2f2;
						position: relative;
						color: #bf0000 !important;

						&:last-child{
							border-bottom: 0;
						}
			
						> a.parent-title{
							font-size: 16px;
							font-weight: bold;
							line-height: 16px;
							display: inline-block;
							width: 100%;
							overflow: hidden;
							white-space: nowrap;
							text-overflow: ellipsis;
							margin-top: 10px;
							padding: 0;
						}
			
						> span.products-count{
							position: absolute;
							right: 10px;
							top: 0;
							font-size: 12px;
							line-height: 26px;
						}
			
						> ul{
							list-style: none;
							padding: 0;
							margin: 0;
							display: block;
							float: left;
							width: 100%;
			
							> li{
								float: left;
								display: block;
								width: 100%;
								border-bottom: 1px solid #f2f2f2;
								position: relative;
								color: #bf0000 !important;
								
								> a{
									float: left;
									display: block;
									width: 100%;
									padding: 5px 0px 5px 15px;
									font-size: 12px;
									line-height: 14px;
									height: 24px;
									position: relative;
									
									.title{
										display: inline-block;
										width: 170px;
										overflow: hidden;
										white-space: nowrap;
										text-overflow: ellipsis;
									}
						
									.products-count{
										position: absolute;
										right: 10px;
										top: 50%;
										margin-top: -7px;
										font-size: 12px;
									}
								}
							}
						}
			
						a.active{
							color: $brand-danger;
						}
					}
				}
			}

			.mheader-search_form-shadow{
				display: inline-block;
				position: fixed;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background: rgba(0, 0, 0, 0.5);
				z-index: 1;
				display: none;
			}
		}
	} 
}

.snowFall{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	
	canvas{
		position: absolute;
		width: 100%;
		height: 100%;
	}
}


// section#header-nav-mobile .navbar-default .navbar-collapse-menu > ul > li > ul > li > ul > li > ul{
// 	padding-bottom: 10px;
//     background: #ffffff;
// 	display: block;
// }

// section#header-nav-mobile .navbar-default .navbar-collapse-menu > ul > li > ul > li > ul > li > ul a{
// 	position: relative;
//     display: block;
//     padding: 0px 15px;
// 	border: 0;
// 	text-decoration: none;
// 	color: #555555;
//     background-color: #ffffff;
// 	font-size: 12px;
// 	line-height: 20px;
// }

// section#header-nav-mobile .navbar-default .navbar-collapse-menu > ul > li > ul > li > ul > li > ul a:hover{
// 	color: #e83737;
// }

// section#header-nav-mobile .navbar-default .navbar-collapse-menu > ul > li > ul > li > ul > li > ul a .ca-icon_arrow-right{
// 	font-size: 8px;
// 	line-height: 19px;
// 	color: #e83737;
// 	float: left;
// 	margin-right:5px;
// }

section#header-nav-mobile .navbar-default .navbar-collapse-search{
	padding: 0px;
}

section#header-nav-mobile .navbar-default .navbar-collapse-search input,
section#header-nav-mobile .navbar-default .navbar-collapse-search button{
	border-radius: 0px;
}

section#header-nav-mobile .navbar-default .navbar-collapse-user{
	padding: 0px;
}

section#header-nav-mobile .navbar-default .navbar-collapse-user input,
section#header-nav-mobile .navbar-default .navbar-collapse-user button{
	border-radius: 0px;
}

section#header-nav-mobile .navbar-default .navbar-collapse-basket .alert{
	border-radius: 0;
}

section#header-nav-mobile{
	 
}

.nav-tabs .title{
	position: relative;
    display: block;
    padding: 10px 15px;
	font-weight: 500;
}

#wr-banner{
	padding-bottom: 30px;
}

#wr-body{
	flex: 1 0 auto;

	.hot-categories{
		width: 100%;
		margin-top: 40px;

		.nav {
			a.dropdown-toggle,
			a.dropdown-toggle:hover,
			a.dropdown-toggle:focus{
				color: #555555;
				background-color: #ffffff;
				border: 1px solid #dddddd;
				border-bottom-color: transparent;
				margin-right: 0px !important;
			}
		}
	}
}

/*------------------------------
	PRODUCTS
------------------------------*/

.products-header {
	margin-bottom:15px;
	padding:10px 15px;
	background-color: #FFFFFF;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
}

.products-header > .row > div:last-child {
	text-align:right;
}

.products-header .order-by {
	display:inline-block;
	margin-left:10px;
}

.pagination-wrapper{
	position: relative;
	z-index: 1;
	height: 85px;
	text-align: center;
}

/* GRID/LIST */

article.product-item  {
	position: relative;
    margin-bottom: -3px;
    height: 320px;

	.product-inside{
		min-height: 300px;
		position: absolute;
		background-color: #FFFFFF;
		box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.25);
		border: 2px solid transparent;
		width: 100%;
		
		.product-available-label{
			display: block;
			position: absolute;
			top: 10px;
    		right: 10px;
			z-index: 10;
			width: 8px;
			height: 8px;
			border-radius: 50%;

			&.item-available{
				background: #31c300;
			}

			&.item-only-order{
				background: #D2D2D2;
			}
		}
		
		.admin-tools_wr{
			display: none;
			position: absolute;
			top:5px;
			right: 5px;
			z-index: 10;
		}

		.product-overlay {
			position:relative;
			display:block;
			height: 170px;
			padding-top: 0px;
			overflow: hidden;

			.product-mask {
				position:absolute;
				width:100%;
				height:100%;
				left:0;
				top:0;
				opacity:0;
				filter:alpha(opacity=0);
				transition:all 0.2s ease-out;
				background-color:#999999;
				z-index:1;
			}

			a.img-wr{
				display: block;
				max-width: 100%;
				height: 150px;
				margin: 10px;
				overflow: hidden;
				position: relative;

				.img-responsive {
					margin: 0 auto;
					max-height: 100%;
					-webkit-transition: all 0.5s linear;
					transition: all 0.25s linear;
					-webkit-transform: scale3d(1, 1, 1);
					transform: scale3d(1, 1, 1);
				}
			}
		}

		.product-quickview {
			position:absolute;
			width:100%;
			top:0;
			left:0;
			transition:all 0.2s ease-out;
			text-align:center;
			opacity:0;
			z-index:2;

			.btn-quickview {
				background-color: rgba(255,255,255,0.8);
				padding: 20px 0;
				width: 100%;
				height: 100%;
				border-radius: 0;
				line-height: 78px;
				font-size: 20px;
				text-transform: uppercase;
				font-weight: 600;
				transition: all 0.3s ease-in;
				text-align: center;
				color:#666666;
			}
		}

		.product-permalink {
			display:block;
			width:100%;
			height:100%;
			position:absolute;
			z-index:1;
		}

		h3 {
			font-weight:normal;
			font-size:14px;
			line-height:18px;
			margin-top:0px;
			letter-spacing:0;
			height:72px;
			overflow: hidden;
			padding: 0 10px;
			position: relative;

			a{
				color: #333333;
				overflow-wrap: break-word;
				word-wrap: break-word;
				-ms-word-break: break-all;
				word-break: break-all;
				word-break: break-word;
				-ms-hyphens: auto;
				-moz-hyphens: auto;
				-webkit-hyphens: auto;
				hyphens: auto;
				z-index: 1;
			}

			&:after{
				content: "";				
  				@include background-image(linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%));
				display: block;
				height: 40px;
				z-index: 1;
				position: absolute;
				bottom: 0px;
				left: 0px;
				right: 0px;
			}
		}

		.product-body{
			position: relative;
			margin-top: 10px;

			.price{
				font-family: 'Roboto Condensed', sans-serif;
				color:#333333;
				padding-bottom: 15px;
				display: block;
				text-align: left;
				width: 100%;
				height: 50px;
				position: relative;

				.currency{
					font-size: 14px;
					margin-left: 2px;
				}

				ins{
					font-size: 32px;
					line-height: 32px;
					font-weight: 600;
					color: #333333;
					display: block;
					width: 100%;
					height: 32px;
					text-decoration: none;
					padding-left: 10px;
				}

				del{
					font-size:16px;
					line-height: 17px;
					font-weight:400;
					display: block;
					width: 100%;
					height: 17px;
					padding-left: 10px;
					position: absolute;
					bottom: 4px;

					.amount{

						&:after{
							content:"";
							display: inline-block;
							width: 25px;
						}
					}
				}

				del+ins{
					color: $brand-danger;
				}
			}

			.btn-group{
				position: absolute;
				top: -3px;
				right: 10px;

				.btn-cart{
					padding: 0;
					font-size: 36px;
					line-height: 28px;
					height: 35px;
					float: right;

					span{
						display:none;
					}
				}
			}
		}

		.product-labels {
			position: absolute;
			padding: 0px;
			z-index: 1;
			
			.product_label {
				width: 80px;
				padding: 5px 0px;
				display: block;
				font-size: 10px;
				font-weight: bold;
				text-transform: uppercase;
				background: #d2d2d2;
				margin-bottom: 5px;
				position: relative;
				line-height: 1;
				color: #fff;
				text-align: center;
				white-space: nowrap;
				vertical-align: baseline;

				> i.ca-icon_label-end{
					display: none;
					position: absolute;
					bottom: -6px;
					left: 4px;
				}

				&:after{
					content: "";
					width: 0;
					border-left: 2px solid #d2d2d2;
					height: 100%;
					position: absolute;
					left: 7px;
					top: 50%;
				}

				&:last-child{
					> i.ca-icon_label-end{
						display: block;
					}

					&:after{
						display:none;
					}
				}

				&.label-bonus {
					background: $label-danger-bg;
					text-align: center;
					line-height: 14px;
					font-size: 12px;

					.currency{
						font-size: 10px;
					}

					> i.ca-icon_label-end{
						color:$label-danger-bg;
					}

					&:after{
						border-color:$label-danger-bg;
					}
				}

				&.label-actional {
					background: $label-danger-bg;

					> i.ca-icon_label-end{
						color:$label-danger-bg;
					}

					&:after{
						border-color:$label-danger-bg;
					}
				}

				&.label-newest {
					background: $label-success-bg;
					
					> i.ca-icon_label-end{
						color:$label-success-bg;
					}

					&:after{
						border-color:$label-success-bg;
					}
				}

				&.label-hit {
					background: $label-info-bg;
					
					> i.ca-icon_label-end{
						color:$label-info-bg;
					}

					&:after{
						border-color:$label-info-bg;
					}
				}
			}
		}

		&:hover{
			z-index: 3;
			border-color: #ff8080;
			box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);

			.admin-tools_wr{
				display: block;
			}
			
			.product-overlay{

				.product-mask {
					opacity:0.3;
					filter:alpha(opacity=30);
				}

				a.img-wr{

					.img-responsive {
						-webkit-transform: scale3d(1.1, 1.1, 1);
						transform: scale3d(1.1, 1.1, 1);
					}
				}
			}

			.product-quickview {
				opacity:1;
			}

			.btn-group{
				display:inline-block;
			}

			h3 {
				height:auto;
				overflow: visible;

				&:after{
					display:none;
				}
			}
		}
	}

	&.product-invisible{
		
		.product-inside *{
			opacity: 0.9;
		}
	}
}


.products_block{	
	/* GRID */
	&.grid{

		article.product-item {
			text-align:left;

			.row > div {
				width:100%;
				float:none;
				position:static;
			}

			.product-body {
				padding:0 10px;
			}
			
			p {
				display:none;
			}

			.product-labels {
				top: -10px;
				left: -9px;
			}
		}
	} 

	/* LIST */
	&.list{
		> div{
			width:100%;
		}

		article.product-item{
			height: 120px;

			.product-inside{
				min-height: 120px;
				right: 0px;
				left: 0px;

				.product-overlay{
					height: 120px;
					padding-top: 0;

					a.img-wr{
						height: 100px;
					}
				}

				.product-body {
					float: right;
					text-align: right;
					width: 145px;
					padding: 15px 15px 15px 0px;
					position: absolute;
					right: 15px;
					z-index: 3;
					margin-top: 0;

					.price{
						padding-right: 0px;
						margin-bottom: 7px;

						*{
							text-align: right;
						}
					}


					.btn-group{
						position: relative;
						right: auto;
						top: auto;
						display: inline-block;
					}
				}

				h3 {
					height: 110px;
					width: 100%;
					display: block;
					float: left;
					padding-right: 150px;
					z-index: 1;
					padding: 10px 150px 10px 0px;
					margin-bottom: 0px;
				}

				.product-labels {
					top: -10px;
					left: -9px;

					.label {
						box-shadow:0 0 1px 0 rgba(0,0,0,0.2);
					}
				}

				&:hover{
					h3 {
						height:auto;
						overflow: visible;
					}				

					.product-overlay{

						a.img-wr{

							.img-responsive {
								-webkit-transform: scale3d(1.05, 1.05, 1);
								transform: scale3d(1.05, 1.05, 1);
							}
						}
					}
				}
			}
		}
	}

	/* SMALL LIST */
	&.small-list{
		> div {
			width:100%;
		}

		article.product-item{
			height: 50px;
			margin-bottom: 2px;

			.product-inside{
				min-height: auto;
				height: 50px;
				position: relative;
				border:0;

				.admin-tools_wr{
					top: 8px;
				}

				.col-sm-3{
					width: 80px;
					position: absolute;
					left: 0px;
				}

				.col-sm-9{
					padding-left: 0;
					width: 100%;
					padding-left: 95px; 
				}

				.product-overlay{
					height: 50px;
					padding-top: 0;
					display: table-cell;
					vertical-align: middle;

					.product-mask {
						display: none;
					}

					a.img-wr{
						height: 50px;
						width: 50px;
						margin: 0px;
						display: table-cell;
						vertical-align: middle;
						
						.img-responsive{
							max-height: 100%;
							max-width: 100%;
						}
					}

					.product-quickview{
						display: none;
					}

					.product-permalink {
						top:0;
					}
				}

				.product-body {
					text-align: right;
					width: 205px;
					position: absolute;
					right: 15px;
					padding: 0px 15px 0px 0px;
					line-height: 50px;
					margin: 0;
					z-index: 2;
					height: 50px;

					.price{
						height: 50px;
						clear: none;
						float: right;
						font-size: 14px;
						position: relative;
						padding: 0;
						line-height: 50px;

						*{
							text-align: right;
						}

						ins{
							line-height: 50px;
							float: right;
							height: 50px;

							.amount{
								font-size: 20px;
								line-height: 50px;
								height: 50px;
								display: inline-block;
								float: right;

								.currency{
									font-size: 12px;
								}
							}
						}

						del{
							position: absolute;
							right: 0px;
							font-size: 12px;
							bottom: 0px;

							.amount{
								text-align: right;

								.currency{
									font-size: 10px;
								}

								&:after{
									width: 15px;
								}
							}
						}
					}

					.btn-group{
						float: left;
						height: 50px;
						line-height: 50px;
						right: auto;
						top: 0px;
						width: 120px;

						.btn-cart{
							padding: 0px 5px;
							font-size: 13px;
							display: none;
							line-height: 50px;
							height: 50px;
							background: #eeeeee;

							.ca-icon.ca-icon_shopping-cart{
								font-size: 26px;
							}

							span{
								display:inline-block;
								margin-left: 5px;
							}
						}
					}
				}

				h3 {
					height: 50px;
					margin: 0;
					line-height: 50px;
					width: 100%;
					display: block;
					float: left;
					padding-right: 100px;
					white-space: nowrap;
					text-overflow: ellipsis;

					&:after{
						display: none;
					}
				}

				.product-labels {
					display: none;
				}

				&:hover{
					box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
					background: #eeeeee;
					border-radius: 3px;

					h3 {
						overflow: hidden;
					}

					.btn-group{
						.btn-cart{
							display: block;
						}
					}

					a.img-wr{

						.img-responsive {
							-webkit-transform: scale3d(1.05, 1.05, 1);
							transform: scale3d(1.05, 1.05, 1);
						}
					}
				}
			}
		}
	}
}

.shopping-cart{
	table{
		tr{
			td{
				position: relative;

				.remove-item_basket-wr{
					display:block;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background: rgba(0, 0, 0, 0.3);
					opacity: 0;
					transition: all 0.2s ease-in;
					
					.remove-item_basket{
						position: absolute;
						top:50%;
						left:50%;
						margin-top: -11px;
						margin-left: -11px;
					}
				}
			}

			&:hover{

				td{

					.remove-item_basket-wr{
						opacity: 1;
					}
				}
			}
		}
	}
}

.home_products-slider {

	.slide{
		padding: 10px 1px;

		article.product-item {
			
			.product-labels{
				left: 5px !important;
			}

			.product-inside{

				&:hover{

					h3{
						height: 72px;
						overflow: hidden;

						&:after{
							display:block;
						}
					}
				}
			}
		}	
	}

	.slick-slide-prev,
	.slick-slide-next{
		display: inline;
		position: absolute;
		top: 10px;
		bottom: 10px;
		outline: 0;
		width: 25px;
		background: transparent;
		z-index: 1;
		text-align: center;

		.ca-icon{
			font-size: 24px;
			color: #d2d2d2;
			margin-top: -12px;
			display: block;
			text-shadow: none;
			text-align: center;
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
		}

		&:hover{
			background: rgba(0, 0, 0, 0.03);

			.ca-icon{
				color: #888888;
			}
		}
	}

	.slick-slide-next{
		right: 0;
	}

}

.home_products {
	.bx-wrapper {
		
		.bx-viewport {
			padding: 0 5px;
		}
		
		.bx-controls-direction a {
			position: absolute;
			top: 0;
			bottom: 0;
			outline: 0;
			width: 25px;
			background: #ffffff;
			z-index: 1;

			>i.ca-icon{
				font-size: 24px;
			}

			&.bx-prev{

				>i.ca-icon{
					left: 0;
					right: auto;
				}
			}

			&.bx-next{
				>i.ca-icon{
					right: 0;
					left: auto;
				}
			}
		}
	}
}
/*------------------------------
	SIDEBAR
------------------------------*/

.sidebar{
	padding: 0px 10px 10px 15px;
    background: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
	margin-top: 15px;
	float: left;
}

/*------------------------------
	FOOTER
------------------------------*/

footer {
	margin:0;
	border:0;
	background-color:#272727;
	padding:30px 0 20px;
	color:#616161;
	border-radius:0;
	
	a:hover {
		color:#AAAAAA;
	}
}


.footer-widget h4 {
	color:#B8B8B8;
	font-size: 20px;
    font-weight: bold;
    letter-spacing: -1px;
}

.footer-widget ul li  {
	padding:5px 0;
}

.footer-widget a {
	color:#616161;
	font-size:16px;
}

section#header,
footer{
	flex-shrink: 0;
}

/* WIDGET CONTACTS */

.footer-widget-contacts ul li {
	font-size:16px;
	font-weight:bold;
	padding:7px 0;
}

.footer-widget-contacts ul li i {
	color:#B8B8B8;
    border:2px solid #B8B8B8;
    border-radius:50%;
    padding:5px 0 0;
    text-align:center;
    width:31px;
    height:31px;
    margin-right:5px;
    font-size:16px;
}

/* WIDGET SOCIAL */

.footer-widget-social ul li {
	font-size:16px;
	font-weight:bold;
	padding:7px 0;
}

.footer-widget-social ul li i {
	color:#B8B8B8;
    border:2px solid #B8B8B8;
    border-radius:50%;
    padding:5px 0 0;
    text-align:center;
    width:31px;
    height:31px;
    margin-right:5px;
    font-size:16px;
}

.footer-widget-social ul li.social {
	padding-top:20px;
}

.footer-widget-social ul li.social a {
	padding-right:3px;
}

.footer-widget-social ul li.social i {
	color:#787878;
	border-color:#787878;
	margin-bottom:10px;
}

.footer-widget-social ul li.social a:hover i {
	color:#B8B8B8;
	border-color:#B8B8B8;
}

/* FOOTER COPYRIGHT */

.footer-bottom {
	border-top:2px solid #373737;
	margin-top:20px;
	padding-top:20px;
}

.footer-bottom p.copyright {
	margin:0;
	font-weight:600;
	font-size:15px;
}

.footer-bottom ul.payment-methods {
	margin:0;
	text-align:right;
	font-size:28px;
}

.footer-bottom ul.payment-methods li {
	padding:0 2px;
	transition:all 0.2s ease-in;
}

.footer-bottom ul.payment-methods li:hover {
	color:#AAAAAA;
}

/*------------------------------
	SCROLL TOP
------------------------------*/

#scrolltop {
	position:fixed;
	right: 335px;
    bottom: 0;
    width: 38px;
    height: 38px;
	text-align:center;
	font-size:23px;
	padding-top:3px;
	background-color:#555555;
	color:#FFFFFF;
	transition:all 0.3s ease-in;
	z-index:1040;
	cursor:pointer;
	transform:translateY(70px);
}

#scrolltop.in {
	transform:translateY(0);
}
#scrolltop:hover{
    background-color: #d9534f;
}

/* FILTER */
.filters-wr {
	width:280px;
	position:relative;
	height:100%;
	overflow:hidden;
	z-index:2;
	padding-bottom: 15px;

	.sidebar{
		width: 100%;
	}

	.close-dimmer-wr{
		display: none;
	}

	ul.search_categories-list{
		list-style: none;
		padding: 0;
		margin: 0;
		display: block;
		float: left;
		width: 100%;

		> li{
			float: left;
			display: block;
			width: 100%;
			border-bottom: 1px solid #f2f2f2;
			position: relative;

			> a.parent-title{
				font-size: 14px;
				font-weight: bold;
				line-height: 16px;
				display: inline-block;
				width: 215px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				margin-top: 10px;
				padding: 0;
			}

			> span.products-count{
				position: absolute;
				right: 10px;
				top: 0;
				font-size: 12px;
				line-height: 26px;
			}

			> ul{
				list-style: none;
				padding: 0;
				margin: 0;
				display: block;
				float: left;
				width: 100%;

				> li{
					float: left;
					display: block;
					width: 100%;
					border-bottom: 1px solid #f2f2f2;
					position: relative;
					color: #bf0000 !important;
					
					> a{
						float: left;
						display: block;
						width: 100%;
						padding: 5px 0px 5px 15px;
						font-size: 12px;
						line-height: 14px;
						height: 24px;
						position: relative;
						
						.title{
							display: inline-block;
							width: 170px;
							overflow: hidden;
							white-space: nowrap;
							text-overflow: ellipsis;
						}
			
						.products-count{
							position: absolute;
							right: 10px;
							top: 50%;
							margin-top: -7px;
							font-size: 12px;
						}
					}
				}
			}

			a.active{
				color: $brand-danger;
			}
		}
	}
	
	ul.catalog_mode_categories-list{
		list-style: none;
		padding: 0;
		margin: 0;
		display: block;
		float: left;
		width: 100%;

		> li{
			float: left;
			display: block;
			width: 100%;
			border-bottom: 1px solid #f2f2f2;
			position: relative;

			> a.parent-title{
				font-size: 14px;
				font-weight: bold;
				line-height: 16px;
				display: inline-block;
				width: 215px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				margin-top: 10px;
				padding: 0;
			}

			> span.products-count{
				position: absolute;
				right: 10px;
				top: 10px;
				font-size: 12px;
				line-height: 16px;
			}

			a.active{
				color: $brand-danger;
			}
		}
	}
}

#toggle-filters{
	display: none;
}

.filters {
	margin: 0;
    padding: 0;
    list-style-type: none;

	
	.filter {
		margin: 0;
		padding: 0;
		list-style-type: none;
		border-bottom: 1px solid #D3CCC9;
		padding-bottom: 10px;
		margin-top: 10px;
		padding-right: 10px;
		
		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			border-bottom: 0;
		}
	}

	.filter-list{

		label{
			font-weight: normal;
			font-size: 12px;
			color: #333333;
		}
	}
	
	.filter-heading {
		font-size: 14px;
		font-weight: bold;
		margin-top: 10px;
		
		& + .filter-list {
			margin: 0;
			padding: 0;
			margin-top: 5px;
			list-style-type: none;
		}
	}
	
	.filter-link {
		font-size: 12px;
		line-height: 1.6;
		display: block;
		color: #333333;
		padding: 2px 0;
		
		&:hover{
			color: #D71440;
		}
	}
	
	.filter-trigger {
		font-size: 12px;
		line-height: 1.6;
		display: block;
		color: #333333;
		padding: 5px 0;
		padding-left: 28px;
		position: relative;
		text-decoration: none;
		
		&:before {
			content: "";
			display: inline-block;
			width: 22px;
			height: 22px;
			border: 1px solid #C2B9B3;
			vertical-align: middle;
			position: absolute;
			left: 0;
			top: 3px;
		}

		&.is-active,
		&:hover {
			color: $brand-danger;
			text-decoration: none;
		}
		
		&:hover:before {
			border: 2px solid $brand-danger;
		}
		
		&.is-active:before {
			border: none;
			background-color: $brand-danger;
			width: 22px;
			line-height: 22px;
			font-family: 'ca-icon';
			content:"\e921";
			color:#ffffff;
			text-align: center;
		}
	}

	.filter-range {
		height: 8px;
		margin: 10px 0 15px 0;
		position: relative;
		border-bottom: 1px solid #DFD9D7;
	}
	.filter-range-span {
		height: 9px;
		position: absolute;
		background: 0 0;
		border-bottom: 1px solid #504e4d;
	}
	.filter-range-from, .filter-range-to {
		height: 17px;
		width: 17px;
		position: absolute;
	}
	.filter-range-from {
		background: #D71440;
		border-radius: 17px;
		cursor: e-resize;
	}
	.filter-range-to {
		background: #D71440;
		border-radius: 17px;
		cursor: w-resize;
	}

	.filter-range-values {
		text-align: center;
		margin-top: 5px;
		font-size: 12px;
	}
	.filter-range-values:after {
		content: "";
		display: table;
		clear: both;
	}

	.filter-range-value-min {
		float: left;
	}

	.filter-range-value-max {
		float: right;
	}

	.show_more_filters,
	.show_less_filters{
		display: none;
		width: 100%;
		margin: 5px 0 6px;

		span.text{
			position: relative;
			padding-bottom: 1px;
			border-bottom: 1px dashed $text-danger;
			cursor: pointer;
			color: $text-danger;
			font-size: 12px;
		}
	}
}

/*------------------------------
	SINGLE PRODUCT
------------------------------*/

article.product-single {
	padding:15px;

	.product-header-wr{
		background: #ffffff;
    	border-bottom: 5px solid #f2f2f2;
		padding-bottom: 15px;
		margin-bottom: 15px;

		.product-title{
			margin: 0;
			font-size: 17px;
			font-weight: 600;
		}

		.product-code_wr{
			display: table;
			height: 100%;
			width: 100%;

			.product-code,
			.product-prog-id{
				margin: 0;
				font-size: 16px;
				font-weight: 400;
				display: table-row;
				vertical-align: middle;
				text-align: right;
			}
		}
	}

	.admin-tools_wr{
		display: block;
		position: absolute;
		top: 0px;
		left: 15px;
		z-index: 10;
	}
	
	.product-labels {
		position: absolute;
		padding: 0px;
		z-index: 1;
		
		.product_label {
			width: 80px;
			padding: 5px 0px;
			display: block;
			font-size: 10px;
			font-weight: bold;
			text-transform: uppercase;
			background: #d2d2d2;
			margin-bottom: 5px;
			position: relative;
			line-height: 1;
			color: #fff;
			text-align: center;
			white-space: nowrap;
			vertical-align: baseline;

			> i.ca-icon_label-end{
				display: none;
				position: absolute;
				bottom: -6px;
				left: 4px;
			}

			&:after{
				content: "";
				width: 0;
				border-left: 2px solid #d2d2d2;
				height: 100%;
				position: absolute;
				left: 7px;
				top: 50%;
			}

			&:last-child{
				> i.ca-icon_label-end{
					display: block;
				}

				&:after{
					display:none;
				}
			}

			&.label-bonus {
				background: $label-danger-bg;
				text-align: center;
				line-height: 14px;
				font-size: 12px;

				.currency{
					font-size: 10px;
				}

				> i.ca-icon_label-end{
					color:$label-danger-bg;
				}

				&:after{
					border-color:$label-danger-bg;
				}
			}

			&.label-actional {
				background: $label-danger-bg;

				> i.ca-icon_label-end{
					color:$label-danger-bg;
				}

				&:after{
					border-color:$label-danger-bg;
				}
			}

			&.label-newest {
				background: $label-success-bg;
				
				> i.ca-icon_label-end{
					color:$label-success-bg;
				}

				&:after{
					border-color:$label-success-bg;
				}
			}

			&.label-hit {
				background: $label-info-bg;
				
				> i.ca-icon_label-end{
					color:$label-info-bg;
				}

				&:after{
					border-color:$label-info-bg;
				}
			}
		}
	}

	.product-carousel-wrapper{
		height: 100%;
		overflow: hidden;

		.product-carousel{
			padding: 0;
			list-style: none;

			>li{
				visibility: hidden;
			}
			
			img{
				width: 100%;
				height: 100%;
			}
		}

		.product-carousel-pages{
			padding: 0;
			text-align: center;

			a.page{
				width: 60px;
				height: 60px;
				display: inline-block;
				border: 2px solid #f2f2f2;
				position: relative;
				margin: 2.5px;

				&:hover,
				&.active{
					border-color:#d2d2d2;
				}

				&:before {
					content: " ";
					padding-top: 100%;
					display: block;
				}

				.img-container {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					text-align:center;
					font: 0/0 a;
					padding: 2px;

					&:before {
						content: ' ';
						display: inline-block;
						vertical-align: middle;
						height: 100%;
					}

					img {
						vertical-align: middle;
						display: inline-block;
						max-width: 100%;
						max-height: 100%;
					}
				}
			}
			
		}
	}

	.showroom-wr{
		text-align: right;

		.showroom-order{
			color: $brand-danger;
			font-weight: 600;
			font-size: 15px;
		}
	}

	.price{
		font-size: 18px;
		color: #333333;
		display: block;
		text-align: left;
		font-family: 'Roboto Condensed', sans-serif;
		padding: 15px 0px 0px 0px;
		position: relative;

		ins{
			line-height: 36px;
			height: 32px;
			font-weight: 600;
			color: #333333;
			display: inline-block;
			width: 100%;
			text-align: left;
			text-decoration: none;

			.amount{
				font-size: 42px;
				height: 32px;
				float: left;

				.currency{
					font-size: 20px;
    				margin-left: 6px;
				}
			}
		}

		del{
			font-size: 15px;
			line-height: 15px;
			margin-left: 3px;
			font-weight: 400;
			display: inline-block;
			width: 100%;
			text-align: left;
			position: absolute;
			top: 0;
		}

		del+ins{
			color: $brand-danger;
		}

		.credit{
			display: block;
			text-align: left;
			font-size: 24px;
			line-height: 37px;

			.currency{
				font-size: 16px;
   				margin-left: 5px;
			}
		}
	}

	.useful_links{
		text-align: right;
		position: relative;

		.ca-icon{
			color: #d2d2d2;
			font-size: 22px;
			padding: 2px;
			margin: 2px;
			display: inline-block;
		}

		.product-share-btn{
			cursor: pointer;

			.product-share{
				display: none;
				opacity: 0;
				position: absolute;
				background: #ffffff;
				right: 26px;
				top: -6px;
				padding: 5px;
				z-index: 1;
				box-shadow: 0 0 50px #e1e1e1;
				@include border-radius(10px);
				@include transition-property(opacity);
				@include transition-duration(0.3s);
				
				.share-list{
					list-style: none;
					margin: 0;
					padding: 0;
					
					.share-list_item{
						display: inline-block;
						background: #eeeeee;
						text-align: center;
						@include border-radius(10px);
	
						&.fb{
							background: #4267B1;
						}
	
						&.ok{
							background: #ee8208;
						}
	
						&.vk{
							background: #4a76a8;
						}
	
						.share-list_item-link{
							display: inline-block;
							padding: 5px;
							width: 32px;
							height: 32px;
							line-height: 22px;
							color: #ffffff;
							font-size: 16px;
	
						}
					}
				}
			}

			&:hover{
				color: $brand-danger;
				
				.product-share{
					opacity: 1;
					z-index: 2;
					display: block;
					-webkit-animation-name: fadeIn;
          			animation-name: fadeIn;
					-webkit-animation-duration: 1s;
					animation-duration: 1s;
					-webkit-animation-fill-mode: both;
					animation-fill-mode: both;
				}
			}
		}
	}

	.btn-cart{
		padding: 0px 16px;
		line-height: 43px;
		font-size: 16px;
		font-weight: 600;

		.ca-icon{
			font-size: 35px;
			display: inline-block;
			margin-top: -5px;
		}
	}

	.btn-credit{
		font-size: 16px;
		font-weight: 600;
		line-height: 23px;
	}

	.virtula-payment-btn{
		padding: 5px 0;
		margin: 10px 0 0 0;
		display: inline-flex;
		align-items: center;
		text-decoration: none;

		&--text{
			margin-left: 8px;
			text-decoration: none;
			border-bottom: 1px dashed;
			display: inline-block;
			font-size: 14px;
		}

		.ca-icon{
			font-size: 26px;
			color: $text-danger;
		}
	}

	.modal-virtula-payment-details{

		h1 {
			text-align: center;
			font-size: 1.8em;
			margin: 20px 0;
		}

		.virtula-logo{
			display: flex;
			align-items: center;
			justify-content: center;

			img{
				width: 250px;
			}
		}
	}

	.cashback__item{
		display: flex;
		margin-top: 15px;
		background: #ffffff;
		padding: 25px;
		border: 2px dashed #dedede;

		.image{
			flex-shrink: 1;

			.img{
				width: 100px;
				height: 100px;
				background-image: url(images/order_gift.png);
				background-size: contain;
				background-position: center center;
				background-repeat: no-repeat;
			}
		}

		.cashback__body{
			width: 100%;
			font-family: 'Roboto Condensed', sans-serif;

			.amount{
				font-size: 36px;
				font-weight: 600;
				line-height: 1;
				height: 60px;
				display: flex;
				align-items: flex-end;
				color: $brand-danger;
			}
	
			.text{
				display: block;
				align-items: center;
				font-weight: 600;

				a{
					color: $brand-danger;
				}
			}
		}

	}

	.product-not-available{
		
	}

	.product-stocks-wr{

		.product-available_wr{

			.product-available{
				padding: 10px 10px 10px 23px;
			}
		}
	
		.product-stocks_item{
			position: relative;
			width: 100%;
			display: block;
			float: left;
			margin-bottom: 10px;
	
			&:last-child{
				margin-bottom: 0;
			}
	
			&::before{
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: 14px;
				border-bottom: 1px dashed #f2f2f2;
				z-index: 1;
			}
	
			.product-stocks_item-name{
				line-height: 20px;
				float: left;
				font-size: 14px;
				background-color: #ffffff;
				display: block;
				z-index: 2;
				position: relative;
				height: 20px;
				padding: 0 5px 0px 0;
			}
	
			.product-stocks_item-quantity{
				height: 20px;
				padding: 3px 0px 3px 5px;
				float: right;
				background-color: #ffffff;
				display: block;
				z-index: 2;
				position: relative;
	
				span{
					display: block;
					float: left;
					width: 3px;
					height: 14px;
					background-color: #d2d2d2;
					margin-left: 2px;
				}
			}
		}
	
		.product_supplier{
			font-size: 14px;
			line-height: 16px;
		}

		.product-stocks-hr{
			margin-bottom: 25px;
			margin-top: 25px;
			border-bottom: 1px solid #d9d9d9;
		}
	}

	.product-available_wr{
		text-align: center;
		position: relative;
		margin-top: 15px;

		&:before{
			content: "";
			position: absolute;
			width: 100%;
			top: 50%;
			left: 0;
			border-bottom: 1px solid #d9d9d9;
			z-index: 1;
		}

		.product-available{
			background: #ffffff;
			display: inline-block;
			z-index: 2;
			position: relative;
			padding: 0px 10px 0px 25px;
			font-weight: 600;
			font-size: 14px;

			&:before{
				content: "";
				position: absolute;
				width: 8px;
				height: 8px;
				top: 50%;
				background: #31c300;
				left: 10px;
				margin-top: -3px;
				border-radius: 50%;
				border-bottom: 1px solid #d9d9d9;
				z-index: 1;
			}
		}

		.product-only-order{
			line-height: 30px;
			background: #ffffff;
			display: inline-block;
			z-index: 2;
			position: relative;
			padding: 10px 10px 10px 23px;
			font-weight: 600;
			font-size: 14px;

			&:before{
				content: "";
				position: absolute;
				width: 8px;
				height: 8px;
				top: 50%;
				background: #ff9a01;
				left: 10px;
				margin-top: -3px;
				border-radius: 50%;
				border-bottom: 1px solid #d9d9d9;
				z-index: 1;
			}
		}

		.product-not-available{
			line-height: 30px;
			background: #ffffff;
			display: inline-block;
			z-index: 2;
			position: relative;
			padding: 25px 10px 25px 23px;
			font-weight: 600;
			font-size: 14px;

			&:before{
				content: "";
				position: absolute;
				width: 8px;
				height: 8px;
				top: 50%;
				background: #888888;
				left: 10px;
				margin-top: -3px;
				border-radius: 50%;
				border-bottom: 1px solid #d9d9d9;
				z-index: 1;
			}
		}
	}

	.product-delivery-block {
		margin-bottom: 20px;

		&--header {
			text-align: center;
			font-size: 14px;
			line-height: 14px;
			font-weight: 600;
			margin: 15px 0;
		}

		&--info {
			text-align: left;
			font-size: 14px;
		}

		.city-select {
			font-weight: 600;
			border-bottom: 1px dashed;
			display: inline-block;
			margin-right: 3px;
			margin-left: 3px;
		}
	}
	
	.product-taking-block {
		margin-bottom: 20px;

		&--header {
			text-align: center;
			font-size: 14px;
			line-height: 14px;
			font-weight: 600;
			margin: 15px 0;
		}

		&--list {
			list-style: none;
			padding: 0;
			margin: 0;
			font-size: 14px;

			li {
				padding-right: 30px;
				position: relative;
				margin-bottom: 5px;

				&:before {
					content: "";
					position: absolute;
					bottom: 5px;
					left: 0;
					right: 15px;
					display: block;
					border-bottom: 1px dashed #d9d9d9;
					z-index: 1;
				}

				&:after {
					content: "";
					position: absolute;
					width: 8px;
					height: 8px;
					top: 50%;
					background: #888888;
					right: 0px;
					margin-top: -4px;
					border-radius: 50%;
					z-index: 1;
				}

				&.available{
					&:after {
						background: #31c300
					}
				}
			}

			span {
				background: #ffffff;
				display: inline-block;
				z-index: 2;
				position: relative;
				padding-right: 5px;
			}
		}
	}

	.product-delivery_wr{
		text-align: left;
    	display: inline-block;
		width: 100%;

		.title-b{
			font-size: 13px;
			font-weight: 600;
			line-height: 13px;
			display: inline-block;
			width: 100%;

			.ca-icon{
				font-size: 26px;
				color: $brand-danger;
				line-height: 26px;
				float: left;
				margin-right: 10px;
				margin-bottom: 0px;
			}

			.icon{
				width: 26px;
				height: 26px;
				float: left;
				margin-right: 10px;
			
				&.nova-poshta{
					background: url('images/nova-poshta.png') no-repeat center center;
					background-size: 25px 25px;
				}
			}
		}

		.description-b{
			font-size: 14px;
			margin-bottom: 0;
			margin-top: 10px;
		}
	}

	.video-wr{
		position: relative;
		padding-bottom: 56.25%;
		margin-bottom: 20px;
		height: 0;

		iframe{
			border: none !important;
			position: absolute;
			bottom: 0;
			height: auto;
			width: auto;
			min-height: 100%;
			min-width: 100%;
			max-width: 100%;
		}
	}

	.item_description-wr{

		img{
			max-width: 100% !important;
			margin: 0 auto;
			display: flex;
			align-self: center;
		}
	}
}

.tabs.product-tabs .tab-content {
	background-color:#FFFFFF;
	padding:20px;
}

.releated-products {
	margin-top:40px;
}

/*------------------------------
	REVIEWS
------------------------------*/

.comments .media .media-left {
	padding-right:20px;
}

.comments .media .media-body h3 {
	margin:0 0 10px;
	color:#777777;
	font-size:20px;
	font-weight:bold;
	display:inline-block;
}

.comments .media .media-body {
	position:relative;
}

.comments .media .media-body .meta {
	float:right;
	font-weight:bold;
	margin-top:5px;
}

.comments .media .media-body .meta .date {
	color:#BCC7D1;
	font-size:14px;
}

.comments .media .media-body .meta a {
	margin-left:15px;
	cursor:pointer;
}

.comment-form h3,
.modal-add-review .modal-title {
	font-weight:bold;
	color:#777777;
	margin-top:0;
	letter-spacing:-1px;
	font-size:24px;
}

.comment-form .comment-notes {
	color:#AAAAAA;
}

.comment-form textarea.form-control {
	height:130px;
}

.comment-form .btn i {
	margin-right:5px;
}

.account-content{
	background: #ffffff;
	padding: 15px;
}

.cart-content{
	background: #ffffff;
	padding: 15px;

	.cart-footer{
		display: flex;
		align-items: center;
		padding: 5px 0;

		&.cart-footer__border-top{
			border-top:1px solid $gray-lighter;
			margin-top: 5px;
			padding-top: 10px;
		}

		.cart-footer__text{
			width: 100%;

			sup{
				font-size: 16px;
				top: 2px;
				line-height: 12px;
			}
		}
	
		.cart-footer__value{
			flex-shrink: 1;
			
			.value{
				width: 120px;
				display: block;
			}
		}

		&__info{
			font-size: 1.4rem;
			font-weight: 600;

			sup{
				font-size: 16px;
				top: 2px;
				line-height: 12px;
			}
		}
	}

	.cashback-text{
		font-weight: 600;
		color: $brand-danger;
	}
}

.dashboard-order-content{
	background: #ffffff;

	.order-footer{
		display: flex;
		align-items: center;
		padding: 5px 0;

		&.order-footer__border-top{
			border-top:1px solid $gray-lighter;
			margin-top: 5px;
			padding-top: 10px;
		}

		.order-footer__text{
			width: 100%;

			sup{
				font-size: 18px;
				top: 0px;
			}
		}
	
		.order-footer__value{
			flex-shrink: 1;
			
			.value{
				width: 120px;
				display: block;
			}
		}

		&__info{
			font-size: 1.4rem;
			font-weight: 600;

			sup{
				font-size: 18px;
				top: 0px;
			}
		}
	}

	.cashback-text{
		font-weight: 600;
		color: $brand-danger;
	}
}

.products-order{
	th,
	td{
		vertical-align: middle !important;
	}

	.form-group{
		margin-bottom: 0;
	}

	span{
		color: #333333;
		font-size: 16px;
	}

	h4{
		font-size: 14px;
		margin: 0;
		
		small{
			margin-top: 5px;
			display: block;
			color: #AAAAAA;
			font-style: italic;
		}

		a{
			transition: all 0.2s ease-in;
		}
	}
}

fieldset{
	border: 1px solid #dddddd !important;
    margin: 0 15px 15px 15px;
	
	*{
		color: $gray-light;
		font-weight: normal !important;
	}

	legend{
		font-weight: bold !important;
		text-align: left !important;
		width: auto;
		padding: 0 10px;
		border-bottom: none;
		margin: 0 5px;
	}
}

.system-text-messages-b {
    max-width: 350px;
    position: fixed;
    top: 20px;
    right: 50px;
	z-index: 99999;
	display: none;
	
	ul {
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			padding: 25px 25px 25px 15px;
			position: relative;
			border-top: 1px dashed #eee;
			-webkit-animation-duration: 1s;
			animation-duration: 1s;
			-webkit-animation-fill-mode: both;
			animation-fill-mode: both;
			-webkit-box-shadow: 0 0px 14px rgba(34, 34, 34, 0.5);
			box-shadow: 0 0px 5px rgba(34, 34, 34, 0.4);
			margin-bottom: 5px;
			// border-radius: 10px;

			.ca-icon.ca-icon_remove {
				position: absolute;
				top: 50%;
				margin-top: -7px;
				right: 0px;
				cursor: pointer;
				font-size: 14px;
				line-height: 14px;
				@include opacity(0.4);

				&:hover {
					@include opacity(1);
				}
			}

			&.message-error {
				color: $brand-danger;
				background-color: #ebcdcc;
				border: 1px solid #e8c1bf;
			}

			&.message-success {
				color: $brand-success;
				background-color: #ccf3c2;
				border: 1px solid #badeb1;
			}

			&.message-info {
				color: $brand-info;
				background-color: #daf1f8;
				border: 1px solid #cbe3ea;
			}

			&.message-warning {
				color: $brand-warning;
				background-color: #fceedb;
				border: 1px solid #e4d5c1;
			}

			a {
				font-weight: bold;
			}
		}
	}
}

.dashboard-page-wr{
	margin-bottom: 15px;
	
	.tab-pane{
		.tab-wr{
			width: 100%;
			display: block;
			background: #ffffff;
			float: left;
			padding: 15px 0;
		}
	}
}


.ajax-loader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width:100%;
	height:100%;
	text-align: center;
	zoom: 1;
	z-index: 20000;
	background: rgba(255,255,255,0.7);

	&.absolute-loader{
		position: absolute;
	}

	.wrapper {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100px;
		height: 10px;
		text-align: center;
		margin-left: -50px;
		margin-top: -5px;

		> div {
			width: 10px;
			height: 10px;
			/*background-color: #5B91CC;*/
			background-color: $brand-danger;

			border-radius: 100%;
			display: inline-block;
			-webkit-animation: bounceBigdelay 1.4s infinite ease-in-out;
			animation: bounceBigdelay 1.4s infinite ease-in-out;
			/* Prevent first frame from flickering when animation starts */
			-webkit-animation-fill-mode: both;
			animation-fill-mode: both;
		}

		.bounce1 {
			-webkit-animation-delay: -0.32s;
			animation-delay: -0.32s;
		}

		.bounce2 {
			-webkit-animation-delay: -0.16s;
			animation-delay: -0.16s;
		}
	}
}

@-webkit-keyframes bounceBigdelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bounceBigdelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

// 3D BUTTONS
.btn3d {
	position:relative;
	top: -3px;
	border:0;
	transition: all 40ms linear;
}
.btn3d:active:focus,
.btn3d:focus:hover,
.btn3d:focus {
    -moz-outline-style:none;
         outline:medium none;
}
.btn3d:active, .btn3d.active {
    top:-1px;
}
.btn3d.btn-white {
    color: #666666;
    box-shadow: 0 0 0 1px #fbfbfb inset, 0 0 0 1px rgba(255,255,255,0.1) inset, 0 1px 0 0 #f3f3f3, 0 1px 1px 1px rgba(128, 128, 128, 0.2);
    background-color: #ffffff;
}
.btn3d.btn-white:active, .btn3d.btn-white.active {
    color: #666666;
    box-shadow:0 0 0 1px #fbfbfb inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 1px 1px rgba(0,0,0,.1);
    background-color:#ffffff;
}
.btn3d.btn-default {
    color: #666666;
	box-shadow: 0 0 0 1px #ebebeb inset, 0 0 0 1px rgba(255,255,255,0.1) inset, 0 1px 0 0 #e2e2e2, 0 1px 1px 1px rgba(0,0,0,0.2);
    background-color:#f9f9f9;
}
.btn3d.btn-default:active, .btn3d.btn-default.active {
    color: #666666;
    box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,.1);
    background-color:#f9f9f9;
}
.btn3d.btn-primary {
    box-shadow:0 0 0 1px #417fbd inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 5px 0 0 #4D5BBE, 0 5px 5px 1px rgba(0,0,0,0.5);
    background-color:#4274D7;
}
.btn3d.btn-primary:active, .btn3d.btn-primary.active {
    box-shadow:0 0 0 1px #417fbd inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color:#4274D7;
}
.btn3d.btn-success {
    box-shadow:0 0 0 1px #31c300 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 5px 0 0 #5eb924, 0 5px 5px 1px rgba(0,0,0,0.5);
    background-color:#78d739;
}
.btn3d.btn-success:active, .btn3d.btn-success.active {
    box-shadow:0 0 0 1px #30cd00 inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color: #78d739;
}
.btn3d.btn-info {
    box-shadow:0 0 0 1px #00a5c3 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 5px 0 0 #348FD2, 0 5px 5px 1px rgba(0,0,0,0.5);
    background-color:#39B3D7;
}
.btn3d.btn-info:active, .btn3d.btn-info.active {
    box-shadow:0 0 0 1px #00a5c3 inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color: #39B3D7;
}
.btn3d.btn-warning {
    box-shadow:0 0 0 1px #d79a47 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 5px 0 0 #D79A34, 0 5px 5px 1px rgba(0,0,0,0.5);
    background-color:#FEAF20;
}
.btn3d.btn-warning:active, .btn3d.btn-warning.active {
    box-shadow:0 0 0 1px #d79a47 inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color: #FEAF20;
}
.btn3d.btn-danger {
    box-shadow:0 0 0 1px #b93802 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 5px 0 0 #AA0000, 0 5px 5px 1px rgba(0,0,0,0.5);
    background-color:#D73814;
}
.btn3d.btn-danger:active, .btn3d.btn-danger.active {
    box-shadow:0 0 0 1px #b93802 inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color: #D73814;
}
.btn3d.btn-magick {
    color: #fff;
    box-shadow:0 0 0 1px #9a00cd inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 5px 0 0 #9823d5, 0 5px 5px 1px rgba(0,0,0,0.5);
    background-color:#bb39d7;
}
.btn3d.btn-magick:active, .btn3d.btn-magick.active {
    box-shadow:0 0 0 1px #9a00cd inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color: #bb39d7;
}


// TEXT COLOR REWRITE
.text-success{color: $text-success;}
.text-info{color: $text-info;}
.text-warning{color: $text-warning;}
.text-danger{color: $text-danger;}

.btn{

	.ca-icon{
		vertical-align: middle;
	}
}

.tooltip {
	.tooltip-inner {
		-webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
		box-shadow: 0 6px 12px rgba(0,0,0,0.175);
		background-color: #ffffff;
		color:#888888;
		padding:5px;
	}

	&.in {
		opacity: 1;
		filter: alpha(opacity=100);
	}
	&.top{

		.tooltip-arrow { 
			border-top-color:#ffffff; 
		}
	}
	&.bottom{

		.tooltip-arrow { 
			border-bottom-color:#ffffff;
		}
	}
	&.left{

		.tooltip-arrow { 
			border-left-color:#ffffff;
		}
	}
	&.right{

		.tooltip-arrow { 
			border-right-color:#ffffff;
		}
	}
}

#cart_credit-wr{

	.credit-header{
		text-align: left;
		font-size: 18px;
		font-weight: 600 !important;
	}

	.credit-header-subtext{
		text-align: left;
		font-size: 14px;
		font-weight: 400;
	}

	.slider{
		
		&.slider-horizontal{
			
			.slider-track {
				left: 0px;
				right: 0px;
			}

			.slider-tick{
				cursor: pointer;
			}

			.slider-selection{
				
				&.tick-slider-selection{

				}
			}
		}
	}

	.credit-price-per-month{
		font-size: 14px;
		color: #333333 !important;
		text-align: left;
		font-family: 'Roboto Condensed', sans-serif;
		position: relative;
		line-height: 45px;
		display: inline-block;
		vertical-align: middle;
		height: 45px;

		.credit_payments{
			font-weight: 600 !important;			

			.credit_payments-months{
				font-weight: 600 !important;			
			}
		}
		

		.credit_price{
			font-size: 32px;
			font-weight: 600 !important;
		}

		.credit_currency{
			margin-left: 2px;
			font-weight: 600 !important;
		}
	}
}

#credit_form-popup{

	.credit-header{
		text-align: center;
		font-size: 18px;
		font-weight: 600;
	}

	.credit-header-subtext{
		text-align: center;
		font-size: 14px;
		font-weight: 400;
	}

	.slider{
		
		&.slider-horizontal{
			
			.slider-track {
				left: 0px;
				right: 0px;
			}

			.slider-selection{
				
				&.tick-slider-selection{

				}
			}
		}
	}

	.credit-price-per-month{
		font-size: 14px;
		color: #333333;
		text-align: left;
		font-family: 'Roboto Condensed', sans-serif;
		position: relative;
		font-weight: 600;
		line-height: 45px;
		display: inline-block;
		vertical-align: middle;
		height: 45px;

		.credit_price{
			font-size: 32px;
		}

		.credit_currency{
			margin-left: 2px;
		}
	}
	
	.modal-footer{
		text-align: left;
		color: #999;
		font-size: 12px;
	}
}


.breadcrumbs {
    font-size: 0;
    overflow: hidden
}

.breadcrumbs_border {
    max-width: inherit;
    border-bottom: .1rem solid #d0d0d0
}

.breadcrumbs_border .breadcrumbs__list {
    max-width: 131.6rem;
    margin: 0 auto
}

@media only screen and (max-width:1030px) {
    .breadcrumbs {
        padding: 0
    }
}

.breadcrumbs__list {
    position: relative;
    white-space: nowrap;
	padding: 0;
	margin: 0;

	&:after {
		content: '';
		position: absolute;
		width: 15rem;
		top: 0;
		right: 0;
		bottom: 0;
		background: -webkit-gradient(linear, left top, right top, from(hsla(0, 0%, 100%, 0)), color-stop(30%, hsla(0, 0%, 95%, .35)), color-stop(85%, #f2f2f2));
		background: -webkit-linear-gradient(left, hsla(0, 0%, 100%, 0), hsla(0, 0%, 95%, .35) 30%, #f2f2f2 85%);
		background: linear-gradient(90deg, hsla(0, 0%, 100%, 0) 0, hsla(0, 0%, 95%, .35) 30%, #f2f2f2 85%);
	}
}

@media (max-width:767px) {
    .breadcrumbs__list:after {
        width: 7rem
    }
}

@media (max-width:1024px) and (min-width:768px) {
    .breadcrumbs__list {
        padding: 0 .5rem
    }
}

@media (max-width:767px) {
    .breadcrumbs__list {
        padding: .6rem 1.3rem
    }
}

.breadcrumbs__item {
    display: inline-block;
    padding: 1.2rem 2.2rem;
    position: relative
}

@media (max-width:1024px) and (min-width:768px) {
    .breadcrumbs__item {
        padding: 1.7rem 1.8rem
    }
}

@media (max-width:767px) {
    .breadcrumbs__item {
        padding: .2rem 1.5rem
    }
}

.breadcrumbs__item:first-child{
	padding-left: 15px;
}

.breadcrumbs__item:after,
.breadcrumbs__item:before {
    content: '';
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border: 32px solid transparent
}

@media (max-width:767px) {
    .breadcrumbs__item:after,
    .breadcrumbs__item:before {
        border: 5px solid transparent
    }
}

.breadcrumbs__item:before {
    right: -36px;
    border-left: 16px solid #d0d0d0
}

@media (max-width:767px) {
    .breadcrumbs__item:before {
        right: -6px;
        border-left: 5px solid #d0d0d0
    }
}

.breadcrumbs__item:after {
    right: -35px;
    border-left: 16px solid #f2f2f2
}

@media (max-width:767px) {
    .breadcrumbs__item:after {
        border-left: 5px solid #f2f2f2;
        right: -4px
    }
}

.breadcrumbs__item:last-child:after,
.breadcrumbs__item:last-child:before {
    display: none
}

.breadcrumbs__item:last-child .breadcrumbs__lbl,
.breadcrumbs__item:last-child .breadcrumbs__lbl:hover {
    color: #999
}

.breadcrumbs__lbl {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 700;
    color: #616161;
	text-transform: uppercase;
}

@media only screen and (max-width:1030px) {
    .breadcrumbs__lbl {
        font-size: 1.3333333333333333rem
    }
}

@media only screen and (max-width:1030px) {
    .breadcrumbs__lbl {
        font-size: 1.2727272727272725rem
    }
}

@media (max-width:1024px) and (min-width:768px) {
    .breadcrumbs__lbl {
        font-size: 1.4rem
    }
}

@media (max-width:374px) {
    .breadcrumbs__lbl {
        font-size: 1.2727272727272725rem
    }
}

.breadcrumbs__lbl:hover {
    color: #e84814
}

@media (max-width:1024px) and (min-width:768px) {
    .breadcrumbs__lbl {
        font-size: 1.6rem
    }
}

@media (max-width:767px) {
    .breadcrumbs__lbl {
        font-size: 1.3rem
    }
}

.breadcrumbs-container {
    border-bottom: .1rem solid #d0d0d0
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

jdiv.copy_2W {
    display: none !important;
}

jdiv.leafCont_2L{
	display: none !important;
	
	*{
		display: none;	
	}
}

jdiv.label_39{
	
	&._bottom_3v{
		border-radius: 0 !important;
	}

	.text_eD{
		margin-right: 10px !important;
	}
}

.input-group-addon.primary {
    color: rgb(255, 255, 255);
    background-color: rgb(50, 118, 177);
	border-color: rgb(40, 94, 142);
	
	*{
		
		color: rgb(255, 255, 255) !important;
	}
}
.input-group-addon.success {
    color: rgb(255, 255, 255);
    background-color: rgb(92, 184, 92);
    border-color: rgb(76, 174, 76);
	
	*{
		
		color: rgb(255, 255, 255) !important;
	}
}
.input-group-addon.info {
    color: rgb(255, 255, 255);
    background-color: rgb(57, 179, 215);
    border-color: rgb(38, 154, 188);
	
	*{
		
		color: rgb(255, 255, 255) !important;
	}
}
.input-group-addon.warning {
    color: rgb(255, 255, 255);
    background-color: rgb(240, 173, 78);
    border-color: rgb(238, 162, 54);
	
	*{
		
		color: rgb(255, 255, 255) !important;
	}
}
.input-group-addon.danger {
    color: rgb(255, 255, 255);
    background-color: rgb(217, 83, 79);
    border-color: rgb(212, 63, 58);
	
	*{
		
		color: rgb(255, 255, 255) !important;
	}
}

.promo-categories__slider{
	position: relative;
	margin: 15px 0px;

	.slide{
		text-align: center;
		outline: none;
		
		.promo-categories__slider-image{
			width: 94px;
			height: 94px;
			@include border-radius(50%);
			border: 2px solid $gray-lighter;
			display: inline-block;
			
			img{
				@include border-radius(50%);
				text-decoration: none;
				outline: none;
				max-width: 90px;
				max-height: 90px;
			}
		}

		.promo-categories__slider-title{
			font-size: 14px;
			font-weight: 600;
			text-align: center;
		}

		&:hover{
			cursor: pointer;

			.promo-categories__slider-image{
				border-color: $gray-light;
			}
		}

		&.active{
			cursor: pointer;

			.promo-categories__slider-image{
				border-color: $brand-danger;
			}
		}
	}

	.slick-slide-prev,
	.slick-slide-next{
		display: inline;
		position: absolute;
		top: 10px;
		bottom: 10px;
		outline: 0;
		width: 25px;
		background: transparent;
		z-index: 1;
		text-align: center;

		.ca-icon{
			font-size: 24px;
			color: #d2d2d2;
			margin-top: -12px;
			display: block;
			text-shadow: none;
			text-align: center;
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
		}

		&:hover{
			background: rgba(0, 0, 0, 0.03);

			.ca-icon{
				color: #888888;
			}
		}
	}

	.slick-slide-next{
		right: 0;
	}
}

.promo-categories__links{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	.promo-categories__link{
		color: $gray-dark;
		font-weight: 600;
		display: none;
		text-decoration: none;
		padding: 15px 10px;
		font-size: 15px;
		line-height: 20px;
		border-bottom: 3px solid #fff;
		text-align: center;
		width: 180px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		margin: 0 10px;

		&.current{
			display: block;
		}

		&:hover{
    		border-bottom: 3px solid $gray-light;
		}

		&.active{
			color: $brand-danger;
    		border-bottom: 3px solid $brand-danger;
		}
	}
}