@media(max-width: 1030px){
	body{
		padding: 0;
	}

	.container {
		width: 100%;
	}

    section#header {
    	display: none;
	}

    section#header-navigation{
		display: none;
	}

	section#header-nav-mobile{
		display: block;
	}

	section#wr-banner{

        .container{
            padding: 0;
        }

        .wr-banner-home{
            padding-left: 0px;
            height: auto;
            
            .bxslider{
                padding: 0px;
                list-style: none;

                li {
                    display: none;

                    &:first-child {
                        display: block;
                    }
                }
            }

            .bx-wrapper img{
                max-height: 100%;
                margin:0 auto;
            }
        }
    } 

	.navbar-header {
		float: none;
	}
	.navbar-left,
	.navbar-right {
		float: none !important;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
		padding: 0px;
	}
	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
	.navbar-collapse.collapse {
		display: none!important;
	}
	.navbar-nav {
		float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
		float: none;
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.collapse.in{
		display:block !important;
	}

	.filter_panel{
		display: none;
	}
	.products-wr{
		padding-left: 15px;
		margin-left: 0px;
	}

	.filters-wr {
		width: 100%;
		position: fixed;
		height: 100%;
		overflow-y: hidden;
		background: #ffffff;
		display: none;
		top: 0px;
		bottom: 0px;
		z-index: 1150;
		padding: 0px;

		&.is-active {
			display: block;
		}
	
		.sidebar {
			padding: 0px 15px 15px 15px;
			background: #ffffff;
			box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
			float: left;
			width: 100%;
			height: 100%;
			overflow: auto;
			margin-top: 0;
			top: 0;
			bottom: 0;
			position: relative;

			.filters {
				margin: 0px 0px 35px 0px;
				padding: 0px 0px 0px 0px;
				list-style-type: none;
				position: relative;
				z-index: 1;
				overflow-x: hidden;
				overflow-y: auto;
			}

			.close-dimmer-wr{
				cursor: pointer;
				position: fixed;
				color: #d2d2d2;
				top: 15px;
				right: 20px;
				font-size: 40px;
				line-height: 36px;
				display: block;
				z-index: 2;
				background: #ffffff;
				-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.1);
				-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.1);
				box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.1);
			}
		}
	}
	
	.mobile-search-wr {
		width: 100%;
		position: fixed;
		height: 100%;
		overflow-y: hidden;
		background: rgba(0, 0, 0, 0.5);
		display: none;
		top: 0px;
		bottom: 0px;
		z-index: 1150;
		padding: 0px;

		&.is-active {
			display: block;
		}

		.mheader-search_form{
			
			.form-group{
				background: #ffffff;
				margin-bottom: 0;
				padding: 15px;
			}

			.msearch-results{
				display: none;
				position: fixed;
				z-index: 3;
				left: 0;
				right: 0;
				top: 64px;
				bottom: 0;
				overflow-y: auto;
				background: #ffffff;
				min-height: 50px;
				padding: 15px;

				.col-delimiter{
					position: absolute;
					left: 58.33%;
					top: 32px;
					bottom: 15px;
					border-right: 1px solid #e2e2e2;
				}

				ul.products-list{
					list-style: none;
					padding: 0;
					margin: 0;

					li{
						float: left;
						display: block;
						width: 100%;
						border: 1px solid #ffffff;
						position: relative;

						&:hover{
							border-color: $brand-danger;
						}

						a{
							display: block;

							.img-wr{
								width: 50px;
								height: 50px;
								float: left;
								overflow: hidden;
								text-align: center;
								padding-right: 5px;
								line-height: 50px;
								background: #ffffff;

								img{
									max-width: 100%;
									max-height: 100%;
								}
							}

							.title{
								font-size: 12px;
								line-height: 14px;
								display: inline-block;
								width: 100%;
								overflow: hidden;
								white-space: nowrap;
								text-overflow: ellipsis;
								margin-top: 10px;
								padding: 0 5px 0 55px;
								left: 0;
								position: absolute;
							}

							.price{
								display: block;
								width: 100%;
								padding: 0 5px 0 55px;
								left: 0;
								position: absolute;
								top: 24px;

								.currency{
									font-size: 10px;
								}

								ins{
									font-size: 14px;
									line-height: 16px;
									font-weight: 600;
									color: $text-danger;
									display: inline-block;
									text-decoration: none;
									float: left;
									margin-right: 5px;
								}

								del{
									font-size:11px;
									line-height: 16px;
									font-weight:400;
									display: inline-block;
									vertical-align: bottom;
									height: 16px;
									float: left;
								}
							}
						}
					}
				}

				ul.categories-list{
					list-style: none;
					padding: 0;
					margin: 0;
					display: block;
					float: left;
					width: 100%;
			
					> li{
						float: left;
						display: block;
						width: 100%;
						border-bottom: 1px solid #f2f2f2;
						position: relative;
						color: #bf0000 !important;

						&:last-child{
							border-bottom: 0;
						}
			
						> a.parent-title{
							font-size: 16px;
							font-weight: bold;
							line-height: 16px;
							display: inline-block;
							width: 100%;
							overflow: hidden;
							white-space: nowrap;
							text-overflow: ellipsis;
							margin-top: 10px;
							padding: 0;
						}
			
						> span.products-count{
							position: absolute;
							right: 10px;
							top: 0;
							font-size: 12px;
							line-height: 26px;
						}
			
						> ul{
							list-style: none;
							padding: 0;
							margin: 0;
							display: block;
							float: left;
							width: 100%;
			
							> li{
								float: left;
								display: block;
								width: 100%;
								border-bottom: 1px solid #f2f2f2;
								position: relative;
								color: #bf0000 !important;
								
								> a{
									float: left;
									display: block;
									width: 100%;
									padding: 5px 0px 5px 15px;
									font-size: 12px;
									line-height: 14px;
									height: 24px;
									position: relative;
									
									.title{
										display: inline-block;
										width: 170px;
										overflow: hidden;
										white-space: nowrap;
										text-overflow: ellipsis;
									}
						
									.products-count{
										position: absolute;
										right: 10px;
										top: 50%;
										margin-top: -7px;
										font-size: 12px;
									}
								}
							}
						}
			
						a.active{
							color: $brand-danger;
						}
					}
				}
			}
		}
	}
	
	#toggle-filters{
		display: inline-block;
	}
}

@media (max-width:768px) {
	
	section#header-nav-mobile{

		.navbar-default{

			.navbar-header{

				.navbar-header-item{

					> .title{
						display: none
					}

					.badge{
						position: absolute;
						font-size: 8px;
						top: 5px;
						right: 50%;
						margin-right: -15px;
					}
				} 
			}
		}
	}

	.products_block.list{

		article.product-item{

			.product-body{
				padding-left: 15px;
			}
		} 
	} 

	article.product-single{

		.cashback__item{

			.image{
				flex-shrink: 1;

				.img{
					width: 60px;
					height: 100%;
				}
			}

			.cashback__body{

				.amount{
					align-items: center;
					height: 40px;
					font-size: 28px;
				}
		
				.text{
					height: auto;
				}
			}
		}
	}
}

@media (max-width: 480px) {

	.products_block > div{
		width:100%;
		float:none;
	}
}

/* Pull left in mobile resolutions */
@media (max-width: $screen-xs-max) {
	.cart-blocks-order{
		display: flex;
		flex-direction: column;

		.order-1{
			order: 1;
		}

		.order-2{
			order: 2;
		}
	}

	.order-footer__blocks-order{
		display: flex;
		flex-direction: column;

		.order-1{
			order: 1;
		}

		.order-2{
			order: 2;
		}
	}

    .pull-xs-right {
        float: right !important;
    }
    .pull-xs-left {
        float: left !important;
    }

    .radio-inline.pull-xs-left  + .radio-inline.pull-xs-left ,
    .checkbox-inline.pull-xs-left  + .checkbox-inline.pull-xs-left  {
        margin-left: 0;
    }
    .radio-inline.pull-xs-left, .checkbox-inline.pull-xs-left{
        margin-right: 10px;
    }

	.row-xs{
		display: block !important;
	}

	.text-left-xs{
		text-align: left !important;
	}

	.text-right-xs{
		text-align: right !important;
	}

	.text-center-xs{
		text-align: center !important;
	}

	article.product-single{

		.virtula-payment-btn{
			padding: 5px 0;
			margin: 10px 0;
	
			&--text{
				margin-left: 5px;
				font-size: 14px;
			}

			.ca-icon{
				font-size: 24px;
				color: $text-danger;
			}
		}
	}

	@for $i from 0 through 50 {.lh-xs-#{$i}{line-height:#{$i}px !important;}}
	@for $i from 0 through 200 {.ml-xs-#{$i}{margin-left:#{$i}px !important;}}
	@for $i from 0 through 200 {.mr-xs-#{$i}{margin-right:#{$i}px !important;}}
	@for $i from 0 through 200 {.pl-xs-#{$i}{padding-left:#{$i}px !important;}}
	@for $i from 0 through 200 {.pr-xs-#{$i}{padding-right:#{$i}px !important;}}
}

/* Pull left in mobile resolutions */
@media (max-width: $screen-sm-max) {
    .pull-sm-right {
        float: right !important;
    }
    .pull-sm-left {
        float: left !important;
    }

    .radio-inline.pull-sm-left  + .radio-inline.pull-sm-left ,
    .checkbox-inline.pull-sm-left  + .checkbox-inline.pull-sm-left  {
        margin-left: 0;
    }
    .radio-inline.pull-sm-left, .checkbox-inline.pull-sm-left{
        margin-right: 10px;
    }

	.row-sm{
		display: block !important;
	}

	.text-left-sm{
		text-align: left !important;
	}

	.text-right-sm{
		text-align: right !important;
	}

	.text-center-sm{
		text-align: center !important;
	}

    @for $i from 0 through 50 {.lh-sm-#{$i}{line-height:#{$i}px !important;}}
	@for $i from 0 through 200 {.ml-sm-#{$i}{margin-left:#{$i}px !important;}}
	@for $i from 0 through 200 {.mr-sm-#{$i}{margin-right:#{$i}px !important;}}
	@for $i from 0 through 200 {.pl-sm-#{$i}{padding-left:#{$i}px !important;}}
	@for $i from 0 through 200 {.pr-sm-#{$i}{padding-right:#{$i}px !important;}}
}

/* Pull left in mobile resolutions */
@media (max-width: $screen-md-max) {
    .pull-md-right {
        float: right !important;
    }
    .pull-md-left {
        float: left !important;
    }

    .radio-inline.pull-md-left  + .radio-inline.pull-md-left ,
    .checkbox-inline.pull-md-left  + .checkbox-inline.pull-md-left  {
        margin-left: 0;
    }
    .radio-inline.pull-md-left, .checkbox-inline.pull-md-left{
        margin-right: 10px;
    }

	.row-md{
		display: block !important;
	}

	.text-left-md{
		text-align: left !important;
	}

	.text-right-md{
		text-align: right !important;
	}

	.text-center-md{
		text-align: center !important;
	}

    @for $i from 0 through 50 {.lh-md-#{$i}{line-height:#{$i}px !important;}}
	@for $i from 0 through 200 {.ml-md-#{$i}{margin-left:#{$i}px !important;}}
	@for $i from 0 through 200 {.mr-md-#{$i}{margin-right:#{$i}px !important;}}
	@for $i from 0 through 200 {.pl-md-#{$i}{padding-left:#{$i}px !important;}}
	@for $i from 0 through 200 {.pr-md-#{$i}{padding-right:#{$i}px !important;}}
}

/* Pull left in mobile resolutions */
@media (min-width: $screen-lg-min) {
    .pull-md-right {
        float: right !important;
    }
    .pull-md-left {
        float: left !important;
    }

    .radio-inline.pull-md-left  + .radio-inline.pull-md-left ,
    .checkbox-inline.pull-md-left  + .checkbox-inline.pull-md-left  {
        margin-left: 0;
    }
    .radio-inline.pull-md-left, .checkbox-inline.pull-md-left{
        margin-right: 10px;
    }

	.row-md{
		display: block !important;
	}

	.text-left-md{
		text-align: left !important;
	}

	.text-right-md{
		text-align: right !important;
	}

	.text-center-md{
		text-align: center !important;
	}

    @for $i from 0 through 50 {.lh-lg-#{$i}{line-height:#{$i}px !important;}}
	@for $i from 0 through 200 {.ml-lg-#{$i}{margin-left:#{$i}px !important;}}
	@for $i from 0 through 200 {.mr-lg-#{$i}{margin-right:#{$i}px !important;}}
	@for $i from 0 through 200 {.pl-lg-#{$i}{padding-left:#{$i}px !important;}}
	@for $i from 0 through 200 {.pr-lg-#{$i}{padding-right:#{$i}px !important;}}
}