
html[dir='ltr'] .outerCenter{
  right: 0 !important;
}
html[dir='ltr'] .innerCenter{
  right: 0 !important;
}

#titlebar,#toolbarContainer{
  background: #333;
  background-image: none;
}
#documentName,.toolbarLabel{
  color:#eee;
}
.toolbarField{
  color:#fff;
}
.toolbarField:hover,.toolbarField:focus{
  color:#aaa;
}

.toolbarField,.toolbarButton,.dropdownToolbarButton{
  border:1px solid #555 !important;
  background: #222;
}
.toolbarButton:hover,.splitToolbarButton:hover > .toolbarButton, .splitToolbarButton:focus > .toolbarButton, .splitToolbarButton.toggled > .toolbarButton, .toolbarButton.textButton{
  background: #000 !important;
}
#toolbarRight .toolbarButton{
  padding-left: 14px;
  padding-right: 14px;
}
.toolbarButton.about{
  background: #333 !important;
  padding: 4px !important;
  border:none !important;
  box-shadow: none !important;
}
#canvasContainer{
  background: #eee;
}
.toolbarButton{
  cursor: pointer;
}
.toolbarButton:focus{
  box-shadow: none !important;
  outline: none !important;
}
.toolbarButton.presentation::before,.toolbarButton.fullscreen::before,.toolbarButton.download::before
,.toolbarButton.previousPage::before,.toolbarButton.nextPage::before,.toolbarButton.pageDown::before
,.toolbarButton.pageUp::before,.toolbarButton.zoomOut::before,.toolbarButton.zoomIn::before{
  content: '';
}
.dropdownToolbarButton > select{
  padding-left:2px;
}
#scaleSelectContainer{
  padding-left: 4px;
}
#about{
  cursor: help;
  font-weight: normal;
  font-size: 10px;
}
