/* REGION FIX CARD FOOTER FLEX JUSTIFY */
.card-body.justify-content-between::after,
.card-footer.justify-content-between::after,
.card-header.justify-content-between::after {
    content: none !important;
}
/* END REGION FIX CARD FOOTER FLEX JUSTIFY */

/* REGION GRID TEXT DT */
.grid-text {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
}

.grid-text__item {
    min-width: 0;
    -ms-grid-row: 1;
    -ms-grid-row-span: 0;
    grid-row: 1 / 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 0;
    grid-column: 1 / 1;
    word-wrap: break-word;
}
/* END REGION GRID TEXT DT */

/* REGION MOBILE DT */
.main-data-table--mobile>thead {
    display: none
}

.main-data-table--mobile>tbody>tr:not(.details) {
    display: block;
    border-bottom: 5px solid #2181F8
}

.main-data-table--mobile>tbody>tr:not(.details)>td {
    position: relative;
    display: block;
    max-width: 100% !important;
    min-height: 26px;
    width: auto !important;
    padding: 45px 5px 5px 5px;
    border-bottom: 1px solid #E0E0E0
}

.main-data-table--mobile>tbody>tr:not(.details)>td:before {
    content: attr(data-title);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    padding: 5px;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: #fff;
    border-bottom: 1px solid #E0E0E0
}

.main-data-table--mobile>tfoot>tr:not(.details) {
    display: block;
    border-bottom: 5px solid #2181F8
}

.main-data-table--mobile>tfoot>tr:not(.details)>td {
    position: relative;
    display: block;
    max-width: 100% !important;
    min-height: 26px;
    width: auto !important;
    padding: 45px 5px 5px 5px;
    border-bottom: 1px solid #E0E0E0
}

.main-data-table--mobile>tfoot>tr:not(.details)>td:before {
    content: attr(data-title);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    padding: 5px;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: #fff;
    border-bottom: 1px solid #E0E0E0
}

.main-data-table--padding thead th {
    padding: 10px !important
}

.main-data-table--padding tbody td {
    padding: 10px
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .main-data-table__item-ttl .link {
        max-width: 450px
    }
}

@media (max-width: 767px) {
    .main-data-table.no-footer {
        border:none !important
    }

    .main-data-table tr.even:hover,.main-data-table tr.odd:hover {
        background-color: #fff !important
    }

    .main-data-table tr.even:hover td.sorting_1,.main-data-table tr.even:hover td.sorting_2,.main-data-table tr.even:hover td.sorting_3,.main-data-table tr.odd:hover td.sorting_1,.main-data-table tr.odd:hover td.sorting_2,.main-data-table tr.odd:hover td.sorting_3 {
        background-color: #fff !important
    }

    .main-data-table td {
        border-right: none
    }

    .main-data-table--mobile>tbody>tr:not(.details)>td {
        padding: 40px 0 8px 0
    }

    .main-data-table--mobile>tbody>tr:not(.details)>td:before {
        padding-left: 0;
        padding-right: 0;
        border-bottom: none
    }

    .main-data-table--mobile>tbody>tr:not(.details)>td.dt-actions {
        padding-top: 5px
    }

    .main-data-table--mobile td.tar,.main-data-table--mobile td.tac {
        text-align: left !important
    }

    .main-data-table--mobile td.dt-actions {
        text-align: right !important
    }
}

@media (max-width: 425px) {
    .main-data-table .flex-card {
        -webkit-flex-direction:column;
        flex-direction: column
    }

    .main-data-table .flex-card__float {
        -webkit-flex: auto;
        flex: auto
    }

    .main-data-table__item-img {
        width: 100%;
        height: 135px;
        margin: 0
    }

    .main-data-table__item-img .image {
        max-width: 100%
    }
}
/* END REGION MOBILE DT */

/* REGION LOADER */
.ajax-loader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width:100%;
	height:100%;
	text-align: center;
	zoom: 1;
	z-index: 20000;
	background: rgba(255,255,255,0.7);
}
.loader-bouces,
.loader-bouces:before,
.loader-bouces:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader-bouces {
  color: #ffc3c3;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader-bouces:before,
.loader-bouces:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader-bouces:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader-bouces:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

/* END REGION LOADER */

/* REGION MODAL */
.modal.fade .modal-right{
    position: fixed;
    z-index: 1055;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    max-width: 100%
}

.modal.fade .modal-right {
    left: auto;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
    -webkit-transition: -webkit-transform .3s cubic-bezier(.25,.8,.25,1);
    -moz-transition: -moz-transform .3s cubic-bezier(.25,.8,.25,1);
    -o-transition: -o-transform .3s cubic-bezier(.25,.8,.25,1);
    transition: transform .3s cubic-bezier(.25,.8,.25,1)
}

.modal.fade.show .modal-right {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
}

.modal-open-aside {
    overflow: visible
}

.modal-content{
    border: none;
    border-radius: 0;
}

@media (min-width: 768px){
    .modal-dialog-cropper {
        max-width: 600px;
    }
}

/* .modal:nth-of-type(even) {
    z-index: 10000 !important;
}
.modal-backdrop.show:nth-of-type(even) {
    z-index: 1051 !important;
} */
/* END REGION MODAL */

/* REGION CROPPER */
.cropper-modal-1600x1200{
    width:1600px;
    height:1200px;
    zoom:.32;
    margin: 0 auto;
}

@media (max-width: 767px){
    .cropper-modal-1600x1200{
        zoom:.265;
    }
}

@media (max-width: 575px){
    .cropper-modal-1600x1200{
        zoom:.165;
    }
}
/* END REGION CROPPER */

/* REGION FILEUPLOAD */
.user-image-thumbnail-wr{
    display: flex;
    width: 115px;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #fff;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin-bottom: 15px;
    text-align: center;
}
.user-image-thumbnail-wr img{
	padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
    max-width: 100%;
    height: auto;
    border-radius: 0;
}
.user-image-thumbnail-wr .actions{
    display: flex;
    justify-content: space-between;
}
/* END REGION MODAL */

/* REGION HELPERS */
.vam{
    vertical-align: middle !important;
}
/* END REGION HELPERS */

/* REGION iCheck */
[class*=icheck-]>label.no-content{
    padding-left: 22px!important;
}

[class*=icheck-]>input:first-child+input[type=hidden]+label.no-content::before, 
[class*=icheck-]>input:first-child+label.no-content::before{
    margin-left: -22px;
}
/* END REGION iCheck */

/* REGION ORDERED PRODUCTS */
.ordered-item-container{
    display: flex;
    overflow: hidden;
}

.ordered-item-container .ordered-item-image{
    width:48px;
    height:48px;
    margin-right: 10px;
}

.ordered-item-container .ordered-item-link{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    text-overflow: ellipsis;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: #000;
    flex: 1;
}

hr.row-delimiter{
    margin-top: 0;
    border-top: 5px solid rgba(0, 0, 0, .1);
}
/* END REGION ORDERED PRODUCTS */

/* REGION form fieldset */
fieldset {
    border: 1px solid #ddd !important;
    margin: 0;
    min-width: 0;
    padding: 10px;
    position: relative;
    margin-bottom: 1rem;
}	

legend{
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0px;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #dddddd;
}

legend .fieldset-tools .btn{
    font-size: 12px !important;
    white-space: nowrap;
}
/* END REGION form fieldset */