@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic&subset=latin,cyrillic);

body {
	background: #ffffff;
	color: #333333;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
  font-weight: 300;
	font-family: 'Roboto Condensed', sans-serif;
}
a {
  color: #52b6ec;
  -webkit-transition: 100ms;
  -moz-transition: 100ms;
  -o-transition: 100ms;
  transition: 100ms;
}

.container{
	width: 1024px !important;
	max-width: 1024px;
}

.btn {
  font-weight: 300;
  border: 0;
}
.btn.btn-primary {
  background-color: #52b6ec;
}
.btn.btn-primary:hover,
.btn.btn-primary.active {
  background-color: #1586c3;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
a:hover,
a:focus {
  color: #80c9f1;
  text-decoration: none;
  outline: none;
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 110px;
  z-index: 9;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
	background: #ffffff;
}

#article-wrapper{
	width: 100%;
	margin-top: 110px;
}

#home-header{
	width: 100%;
	margin-top: 110px;
}

#home-header .container{
	min-height: 460px;
/*    background: url(../images/repair.png) no-repeat center right;*/
	padding-top: 40px;
}
.home_slider{
	display: none;
}
.home_slider .img-b{
	height: 400px;
	overflow-y: hidden;
}
.home_slider .img-b{
	width: 100%;
	height: 200px;
	text-align: center;
}
.home_slider .img-b img{
	max-width: 100%;
	max-height: 200px;;
}
.home_slider .text{
	width: 100%;
	max-height: 200px;
}
#home-header .container h2{
	font-size: 2.5em;
	font-weight: 400;
	margin-top: 0;
}

#home-header .container h3{
	font-size: 1.5em;
	font-weight: 400;
	margin-bottom: 20px;
}

#home-header .container ol{
	margin-bottom:20px;
	font-size:16px;
	counter-reset:point;
	list-style: none;
	padding: 0;
	margin: 0;
}
#home-header .container ol li{
	margin-bottom: 10px;
	position: relative;
	font-size: 16px;
	color: #777785;
	background-color: #ffffff;
	padding: 5px;
	max-width: 401px;
	border-radius: 5px;
}
#home-header .container ol li span{
	text-shadow: 1px 1px 0px rgb(255, 255, 255);
}
#home-header .container ol li:before{
	content: counter(point);
	counter-increment: point 1;
	display: inline-block;
	margin-right: 8px;
	width: 22px;
	height: 22px;
	color: #fff;
	background-color: #2B6596;
	font-size: 16px;
	line-height: 22px;
	font-weight: 700;
	text-align: center;
	border-radius: 11px;
}
#home-header .container .btn{
	font-size: 22px;
	margin-top: 15px;
}


#main-slider {
  color: #fff;
	margin-top: 110px
}
#main-slider .item {
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  -webkit-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
  left: 0 !important;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: block !important;
  z-index: 1;
  text-align: center;
}
#main-slider .item:first-child {
  top: auto;
  position: relative;
}
#main-slider .carousel-content {
	padding: 50px 0 240px 0;
	background-image: url(../images/slider-bg.jpg);
	background-size: auto 400px;
	background-position: right bottom;
	background-repeat: no-repeat;
}
#main-slider .item img {
	max-width: 100%;
/*	opacity: 0.5;*/
}
#main-slider .item.active {
  opacity: 1;
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  -webkit-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
  z-index: 2;
}
#main-slider .item.active h1,
#main-slider .item.active h2 {
  -webkit-animation: scaleUp 400ms;
  -moz-animation: scaleUp 400ms;
  -o-animation: scaleUp 400ms;
  -ms-animation: scaleUp 400ms;
  animation: scaleUp 400ms;
}
#main-slider .item p > span {
	content: counter(point);
	counter-increment: point 1;
	display: inline-block;
	margin-right: 8px;
	width: 22px;
	height: 22px;
	color: #fff;
	background-color: #AFAFAF;
	font-size: 15px;
	line-height: 22px;
	font-weight: 700;
	text-align: center;
	border-radius: 11px;
}
#main-slider .prev,
#main-slider .next {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  display: inline-block;
  margin-top: -50px;
  font-size: 24px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 4px;
  z-index: 5;
}
#main-slider .prev:hover,
#main-slider .next:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
#main-slider .prev {
  left: 10px;
}
#main-slider .next {
  right: 10px;
}
#main-slider h1 {
	font-size: 68px;
	color: #B4B4B4;
	margin-top: 0px;
}
#main-slider h2 {
	font-size: 46px;
	color: #B4B4B4;
}
#main-slider p {
	font-size: 18px;
	color: #989898;
}
#contact {
	background-color: #ffffff;
	padding-top: 30px;
	padding-bottom: 70px;
}
#contact .box {
  background-color: #e2e2e2;
  color: #999;
}
#contact .box h1,
#contact .box h2,
#contact .box h3 {
  color: #346894;
}
#contact .box a {
  color: #999;
}
#contact .box a:hover {
  color: #52b6ec;
}
#contact .box input[type="text"],
#contact .box input[type="email"],
#contact .box textarea {
  background-color: #ffffff;
  border: 0;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
#contact .box input[type="text"]:focus,
#contact .box input[type="email"]:focus,
#contact .box textarea:focus {
  background-color: #eee;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#contact .box textarea {
  resize: none;
}
.box {
  padding: 50px 30px;
  background: #fff;
  border-bottom: 1px solid #e9e9e9;
  position: relative;
}
.box.first {
	background-color: #ffffff;
}
.box.last {
	border-bottom: 0px;
}
.box h2 {
  padding: 10px 30px;
  display: inline-block;
  border-radius: 4px;
  position: relative;
  margin-bottom: 30px;
  font-size: 48px;
}
#portfolio .box {
  background: #f3f3f3;
}
.portfolio-items,
.portfolio-filter {
  list-style: none;
  padding: 0;
  margin: 0;
}
.portfolio-items {
  margin-right: -20px;
}
.portfolio-filter {
  margin-bottom: 50px;
  text-align: center;
}
.portfolio-filter > li {
  display: inline-block;
}
.portfolio-items > li {
  float: left;
  padding: 0;
  margin: 0;
}
.portfolio-items.col-2 > li {
  width: 50%;
}
.portfolio-items.col-3 > li {
  width: 33%;
}
.portfolio-items.col-4 > li {
  width: 25%;
}
.portfolio-items.col-5 > li {
  width: 20%;
}
.portfolio-items.col-6 > li {
  width: 16%;
}
.portfolio-item .item-inner {
  margin: 0 20px 20px 0;
  text-align: center;
  background: #fff;
  padding: 10px;
  border-bottom: 1px solid #e1e1e1;
}
.portfolio-item img {
  width: 100%;
}
.portfolio-item .portfolio-image {
  position: relative;
}
.portfolio-item h5 {
  margin: 0;
  padding: 10px 0 0 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.portfolio-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  vertical-align: middle;
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
}
.portfolio-item .overlay .preview {
  position: relative;
  top: 50%;
  display: inline-block;
  margin-top: -20px;
}
.portfolio-item:hover .overlay {
  opacity: 1;
}
/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
#pricing .box {
  background-color: #f9f9f9;
}
#pricing .plan {
  background: #fff;
  list-style: none;
  margin: 0 0 20px;
  text-align: center;
  padding: 0;
  border-bottom: 1px solid #e1e1e1;
}
#pricing .plan li {
  padding: 10px 0;
  margin: 0 15px;
  border-bottom: 1px dashed #eee;
}
#pricing .plan li.plan-name {
  padding: 15px 0;
  font-size: 18px;
  font-weight: 700;
}
#pricing .plan li.plan-price {
  color: #666;
  padding: 15px 0;
  font-size: 48px;
}
#pricing .plan li.plan-action {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 0;
}
#pricing .plan.featured {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
#pricing .plan.featured .plan-price {
  color: #fff;
  background-color: #52b6ec;
  border-bottom-color: #52b6ec;
  margin: 0;
}
#services {
  background-color: #ffffff;
}
#services .box {
  padding-bottom: 0;
}
#services .row > div {
  margin-bottom: 50px;
}
#services .row h2 {
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
}
.center {
  text-align: center;
}
#team-scroller .designation {
  margin-top: 10px;
  display: block;
}
.member {
  margin: 0 50px;
  text-align: center;
}
.carousel.scale .left-arrow,
.carousel.scale .right-arrow {
  top: 30%;
  position: absolute;
}
.carousel.scale .left-arrow {
  left: -10px;
}
.carousel.scale .right-arrow {
  right: -10px;
}
.carousel.scale .active .row > div:nth-child(1) {
  -webkit-animation: scaleUp 200ms linear 0 both;
  -moz-animation: scaleUp 200ms linear 0 both;
  -ms-animation: scaleUp 200ms linear 0 both;
  -o-animation: scaleUp 200ms linear 0 both;
  animation: scaleUp 200ms linear 0 both;
}
.carousel.scale .active .row > div:nth-child(2) {
  -webkit-animation: scaleUp 200ms linear 100ms both;
  -moz-animation: scaleUp 200ms linear 100ms both;
  -ms-animation: scaleUp 200ms linear 100ms both;
  -o-animation: scaleUp 200ms linear 100ms both;
  animation: scaleUp 200ms linear 100ms both;
}
.carousel.scale .active .row > div:nth-child(3) {
  -webkit-animation: scaleUp 200ms linear 200ms both;
  -moz-animation: scaleUp 200ms linear 200ms both;
  -ms-animation: scaleUp 200ms linear 200ms both;
  -o-animation: scaleUp 200ms linear 200ms both;
  animation: scaleUp 200ms linear 200ms both;
}
.carousel.scale .active .row > div:nth-child(4) {
  -webkit-animation: scaleUp 200ms linear 400ms both;
  -moz-animation: scaleUp 200ms linear 400ms both;
  -ms-animation: scaleUp 200ms linear 400ms both;
  -o-animation: scaleUp 200ms linear 400ms both;
  animation: scaleUp 200ms linear 400ms both;
}
.icon-social {
  border: 0;
  color: #fff;
  border-radius: 100%;
  display: inline-block !important;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  padding: 0;
}
.icon-social.icon-facebook {
  background: #4f7dd4;
}
.icon-social.icon-facebook:hover {
  background: #789bde;
}
.icon-social.icon-twitter {
  background: #5bceff;
}
.icon-social.icon-twitter:hover {
  background: #8eddff;
}
.icon-social.icon-linkedin {
  background: #21a6d8;
}
.icon-social.icon-linkedin:hover {
  background: #49b9e3;
}
.icon-social.icon-google-plus {
  background: #dc422b;
}
.icon-social.icon-google-plus:hover {
  background: #e36957;
}
.icon-social.icon-pinterest {
  background: #cb2027;
}
.icon-social.icon-pinterest:hover {
  background: #e03e44;
}
.icon-social.icon-youtube {
  background: #ce332d;
}
.icon-social.icon-youtube:hover {
  background: #da5954;
}
.icon-social:hover {
  color: #fff;
}
.navbar-default {
  background: #fff;
  border-radius: 0;
  border: 0;
  padding: 15px 0;
}
.navbar-default .first a {
  border-radius: 0 0 0 5px;
}
.navbar-default .dropdown-menu {
	min-width: 100%;
	border: 0;
	border-radius: 0;
}
.navbar-default .navbar-brand {
  margin-left: 0px;
  width: 352px;
  height: 78px;
  background: url(../images/logo.png) no-repeat 0 50%;
}

.navbar-default .navbar-nav > li {
  margin-left: 1px;
}
.navbar-default .navbar-nav > li > a {
  padding: 30px 25px;
  font-size: 16px;
  line-height: 18px;
  color: #999;
}
.navbar-default .navbar-nav > li > a > i {
  display: inline-block;
}
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active:focus > a,
.navbar-default .navbar-nav > li.active:hover > a,
.navbar-default .navbar-nav > li:hover > a,
.navbar-default .navbar-nav > li:focus > a,
.navbar-default .navbar-nav > li.active > a:focus,
.navbar-default .navbar-nav > li.active:focus > a:focus,
.navbar-default .navbar-nav > li.active:hover > a:focus,
.navbar-default .navbar-nav > li:hover > a:focus,
.navbar-default .navbar-nav > li:focus > a:focus {
  background-color: #00ACED;
  color: #fff;
}
.icon-lg {
  font-size: 48px;
  height: 108px;
  width: 108px;
  line-height: 108px;
  color: #fff;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  display: inline-block !important;
  border-radius: 100%;
}
.icon-big {
  height: 100px;
  width: 100px;
  line-height: 100px;
  margin-right: 10px;
  text-align: center;
  display: inline-block;
  border-radius: 100%;
  margin-bottom: 10px;
}
.icon-pc {
  background: url(../images/banner/computer.png);
}
.icon-printer {
  background: url(../images/banner/printer.png);
}
.icon-tablet {
  background: url(../images/banner/tablet_phone.png);
}
.icon-po {
  background: url(../images/banner/po.png);
}
.icon-restore {
  background: url(../images/banner/restore.png);
}
.icon-network {
  background: url(../images/banner/network.png);
}
.icon-video {
  background: url(../images/banner/video.png);
}
.gap {
  margin-bottom: 50px;
}
.big-gap {
  margin-bottom: 100px;
}

/* .modal-fullscreen */

.modal-fullscreen {
  background: #63B0FF;
}
.modal-fullscreen .modal-content {
  background: #63B0FF;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.modal-fullscreen .modal-header .close {
	color: #ffffff;
	opacity: .5;
}
.modal-fullscreen .modal-header {
	border-bottom: 0;
}
.modal-fullscreen .modal-header .close:hover {
	color: #ffffff;
	opacity: .8;
}
.modal-fullscreen .modal-header button.close {
	border: 2px solid;
	border-radius: 20px;
	padding: 5px 10px;
}
.modal-fullscreen .modal-header h4 {
	color: #ffffff;
	font-size: 22px;
}
.modal-fullscreen .floating-label-form-group {
	position: relative;
	margin-bottom: 0;
	padding-bottom: .5em;
	padding-top: .5em;
	border-bottom: 1px solid #eee;
}

.modal-fullscreen .floating-label-form-group input::-webkit-input-placeholder{color:#ffffff;}
.modal-fullscreen .floating-label-form-group input::-moz-placeholder{color:#ffffff;}
.modal-fullscreen .floating-label-form-group input:-moz-placeholder{color:#ffffff;}
.modal-fullscreen .floating-label-form-group input:-ms-input-placeholder{color:#ffffff;}
.modal-fullscreen .floating-label-form-group textarea::-webkit-input-placeholder{color:#ffffff;}
.modal-fullscreen .floating-label-form-group textarea::-moz-placeholder{color:#ffffff;}
.modal-fullscreen .floating-label-form-group textarea:-moz-placeholder{color:#ffffff;}
.modal-fullscreen .floating-label-form-group textarea:-ms-input-placeholder{color:#ffffff;}      


.modal-fullscreen .floating-label-form-group input:focus::-webkit-input-placeholder{color:transparent;}
.modal-fullscreen .floating-label-form-group input:focus::-moz-placeholder{color:transparent;}
.modal-fullscreen .floating-label-form-group input:focus:-moz-placeholder{color:transparent;}
.modal-fullscreen .floating-label-form-group input:focus:-ms-input-placeholder{color:transparent;}
.modal-fullscreen .floating-label-form-group textarea:focus::-webkit-input-placeholder{color:transparent;}
.modal-fullscreen .floating-label-form-group textarea:focus::-moz-placeholder{color:transparent;}
.modal-fullscreen .floating-label-form-group textarea:focus:-moz-placeholder{color:transparent;}
.modal-fullscreen .floating-label-form-group textarea:focus:-ms-input-placeholder {color:transparent;}     


.modal-fullscreen .floating-label-form-group input,
.modal-fullscreen .floating-label-form-group textarea {
	z-index: 1;
	position: relative;
	padding-right: 0;
	padding-left: 0;
	border: 0;
	border-radius: 0;
	font-size: 16px;
	background: 0 0;
	resize: none;
	color:#ffffff;
}
.modal-fullscreen .floating-label-form-group textarea {
	font-size: 16px;
	font-weight: normal;
}

.modal-fullscreen .floating-label-form-group label {
	display: block;
	z-index: 0;
	position: relative;
	top: 24px;
	margin: 0;
	font-size: 14px;
	line-height: 16px;
	vertical-align: middle;
	vertical-align: baseline;
	color: #ffffff;
	font-weight: normal;
	opacity: 0;
	-webkit-transition: top .3s ease,opacity .3s ease;
	-moz-transition: top .3s ease,opacity .3s ease;
	-ms-transition: top .3s ease,opacity .3s ease;
	transition: top .3s ease,opacity .3s ease;
}
.form-control{
	outline: none;
}
.modal-fullscreen .form-control {    
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.modal-fullscreen .floating-label-form-group-with-focus label,
.modal-fullscreen .floating-label-form-group-with-value label {
	top: 0px;
	opacity: 1;
	color: #666666;
}

.modal-fullscreen form .row:first-child .floating-label-form-group {
	border-top: 1px solid #eee;
}
.modal-backdrop.modal-backdrop-fullscreen {
  background: #ffffff;
}
.modal-backdrop.modal-backdrop-fullscreen.in {
  opacity: .97;
  filter: alpha(opacity=97);
}

/* .modal-fullscreen size: we use Bootstrap media query breakpoints */

.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
	width: 750px;
  }
}
@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
	width: 970px;
  }
}
@media (min-width: 1200px) {
  .modal-fullscreen .modal-dialog {
	 width: 1170px;
  }
}
#footer {
	padding-top: 30px;
	padding-bottom: 30px;
	color: #999;
	background: #333333;
}
#footer a {
  color: #999;
}
#footer a:hover {
  color: #52b6ec;
}
#footer .box {
	padding-bottom: 0;
	padding-top: 0;
	border-bottom: 0;
}
ul.social {
  list-style: none;
  margin: 0;
  padding: 0;
	float: right;
}
ul.social > li {
  margin: 0px;
	float: left;
}
ul.social > li > a {
  display: block;
  font-size: 18px;
}
ul.social > li > h1 {
	margin: 0;
	font-size: 24px;
	line-height: 36px;
}
ul.social > li > a i {
  margin-left: 10px;
}
textarea#message {
  padding: 10px 15px;
  height: 220px;
}
@keyframes scaleUp {
  0% {
	opacity: 0;
	transform: scale(0.3);
  }
  100% {
	opacity: 1;
	transform: scale(1);
  }
}
@-moz-keyframes scaleUp {
  0% {
	opacity: 0;
	-moz-transform: scale(0.3);
  }
  100% {
	opacity: 1;
	-moz-transform: scale(1);
  }
}
@-webkit-keyframes scaleUp {
  0% {
	opacity: 0;
	-webkit-transform: scale(0.3);
  }
  100% {
	opacity: 1;
	-webkit-transform: scale(1);
  }
}
@-ms-keyframes scaleUp {
  0% {
	opacity: 0;
	-ms-transform: scale(0.3);
  }
  100% {
	opacity: 1;
	-ms-transform: scale(1);
  }
}
@-o-keyframes scaleUp {
  0% {
	opacity: 0;
	-o-transform: scale(0.3);
  }
  100% {
	opacity: 1;
	-o-transform: scale(1);
  }
}

/*
 * Specific styles of signin component
 */
.signin{
	margin-top: 110px;
}
.card-container.card {
	max-width: 350px;
	padding: 40px 40px;
}

.btn {
	font-weight: 400;
}

/*
 * Card component
 */
.card {
	background-color: #F7F7F7;
	/* just in case there no content*/
	padding: 20px 25px 30px;
	margin: 0 auto 25px;
	margin-top: 50px;
	/* shadows and rounded borders */
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin: 10px 0 0;
	min-height: 1em;
}

.reauth-email {
	display: block;
	color: #404040;
	line-height: 2;
	margin-bottom: 10px;
	font-size: 14px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
	direction: ltr;
	height: 44px;
	font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
	width: 100%;
	display: block;
	margin-bottom: 10px;
	z-index: 1;
	position: relative;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.form-signin .form-control:focus {
	border-color: rgb(104, 145, 162);
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
	/*background-color: #4d90fe; */
	background-color: rgb(104, 145, 162);
	/* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
	padding: 0px;
	font-weight: 700;
	font-size: 14px;
	height: 36px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: none;
	-o-transition: all 0.218s;
	-moz-transition: all 0.218s;
	-webkit-transition: all 0.218s;
	transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
	background-color: rgb(12, 97, 33);
}

.system-text-messages-b {
	max-width: 350px;
	position: fixed;
	top: 20px;
	right: 50px;
	z-index: 1003;
	z-index: 99999;
}
.system-text-messages-b * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.system-text-messages-b .ttl-b {
	padding: 15px 6px 15px 15px;
	position: relative;
	background-color: #3C81A3;
	font-size: 16px;
	color: #fff
}
.system-text-messages-b .ttl-b .ep-icon_remove {
	cursor: pointer;
	font-size: 14px;
	line-height: 16px;
	filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=70);
	opacity: 0.7
}
.system-text-messages-b .ttl-b .ep-icon_remove:hover {
	filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
	opacity: 1
}
.system-text-messages-b ul {
	font: 14px Arial, sans-serif;
	list-style: none;
	padding: 0;
	margin: 0;
}
.system-text-messages-b li {
	padding: 15px 25px 15px 15px;
	position: relative;
	border-top: 1px dashed #eee;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
	-webkit-box-shadow: 0 0px 14px rgba(34, 34, 34, 0.5);
	box-shadow: 0 0px 5px rgba(34, 34, 34, 0.4);
	margin-bottom: 5px;
}
.system-text-messages-b li:first-child {
	border-top: none
}
.system-text-messages-b li .fa.fa-times {
	position: absolute;
	top: 16px;
	right: 8px;
	cursor: pointer;
	font-size: 14px;
	filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=40);
	opacity: 0.4
}
.system-text-messages-b li .fa.fa-times:hover {
	filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
	opacity: 1
}
.system-text-messages-b .message-error {
	color: #a94442;
	background-color: #ebcdcc
}
.system-text-messages-b .message-success {
	color: #38971f;
	background-color: #ccf3c2
}
.system-text-messages-b .message-info {
	color: #3C81A3;
	background-color: #daf1f8
}
.system-text-messages-b .message-warning {
	background: #fceedb;
	color: #c77c11
}
.system-text-messages-b a {
	font-weight: bold
}

.btn-file {
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

.image-thumbnail-wr{
	display: block;
	float: left;
	height: 130px;
	overflow: hidden;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	padding: 5px;
	margin: 5px;
	position: relative;
}
.image-thumbnail-wr a{
	position: absolute;
	top: 5px;
	left: 5px;
}
.image-thumb{
	display: table-cell;
	width: 180px;
	height: 120px;
	vertical-align: middle;
	text-align: center;
}
.image-thumb img{
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
}
#user_file{
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}
.text-white{
	color: #ffffff;
}
.files{
	display:flex;
	flex-wrap: wrap;
}
.user-image-thumbnail-wr{
    display: flex;
    width: 150px;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    padding: 5px;
    margin-right: 5px;
    position: relative;
    margin-bottom: 15px;
    text-align: center;
}
.user-image-thumbnail-wr a{
	position: absolute;
	top: 5px;
	left: 5px;
}
.user-image-thumb{
	display: table-cell;
	width: 110px;
	height: 110px;
	vertical-align: middle;
	text-align: center;
}
.user-image-thumb img{
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
}

/*
Inspired by http://dribbble.com/shots/890759-Ui-Kit-Metro/attachments/97174
*/
*, *:before, *:after {
	/* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
	-webkit-box-sizing: border-box;

	/* Firefox (desktop or Android) 28- */
	-moz-box-sizing: border-box;

	/* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
	box-sizing: border-box;
}
section.main-menu{
	margin-top: 110px;
	width: 100%;
}
section.main-menu .btn-main_menu {
	background-color: #fff;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	padding: 20px 0px;
}
section.main-menu .btn-group .btn-main_menu{
	border-radius: 0 !important;
	font-size: 18px;
}
section.main-menu .btn-main_menu:hover {
	color: #00ACED;
	cursor: pointer;
	-webkit-transition: color 1s; /* For Safari 3.1 to 6.0 */
	transition: color 1s;
}
section.main-menu .btn-main_menu:hover ,
section.main-menu .btn-main_menu.active {
	color: #00ACED;
	padding: 15px 0px;
	border-top: 5px solid #00ACED;
	border-bottom: 5px solid #00ACED;
	border-left: 0;
	border-right: 0;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-webkit-transition: border 0.1s ease-out, color 0.1s ease 0.3s;
	-moz-transition: border 0.1s ease-out, color 0.1s ease 0.3s;
	-ms-transition: border 0.1s ease-out, color 0.1s ease 0.3s; /* IE10 is actually unprefixed */
	-o-transition: border 0.1s ease-out, color 0.1s ease 0.3s;
	transition: border 0.1s ease-out, color 0.1s ease 0.3s;
	-webkit-animation: pulsate 0.6s linear infinite;
	animation: pulsate 0.6s linear infinite;
}

@-webkit-keyframes pulsate {
	50% { color: #167FA7; }
}
@keyframes pulsate {
	50% { color: #167FA7; }
}

.nav-pills{

}

.nav-pills li{
	border-bottom: 1px solid #E8E8E8;
	margin-top: 0px !important;
}

.nav-pills li a{
	color: #333333;
	border-radius: 0px;
}

.banner_top{
	width: 100%;
	height: 240px;
	background: url("../images/banner/slide-smile.png") no-repeat center center;
	margin-bottom: 15px;
}

.language{
	display: block;
	float: right;
	width: 30px;
	height: 78px;
	line-height: 26px;
}

.language ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

.language ul li{
	line-height: 26px;
	display: block;
	width: 26px;
	height: 26px;
	text-align: right;
}

.language ul li a{
	color: #d2d2d2;
	text-decoration: none;
	font-weight: bold;
	text-transform: lowercase;
}

.language ul li:hover a,
.language ul li a.curent{
	color: #333333;
	text-decoration: none;
	padding-bottom: 3px;
	border-bottom: 3px solid #00ACED;
}

.top_phone{
	display: block;
	float: right;
	text-align: right;
}

.top_phone .phone{
	font-size: 28px;
	font-weight: bold;
	margin-left: 10px;
}

.top_phone .address{
	font-size: 18px;
}

.gallery-wr{
	display: block;
	width: 100%;
}
.gallery-wr .gallery-img-wr{
	width: 100%;
	height: 200px;
}
.gallery-wr .gallery-img{
	width: 100%;
	height: 100%;
	padding: 5px;
	border: 1px dashed #d2d2d2;
	text-align: center;
	overflow: hidden;
}
.gallery-wr .gallery-img .img-wr{
	display: table;
	width: 100%;
	height: 100%;
}
.gallery-wr .gallery-img .img{
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}
.gallery-wr .gallery-img img{
	max-width: 100%;
	max-height: 100%;
}
.gallery-wr .gallery-title{
	display: block;
	width: 100%;
	border: 1px dashed #d2d2d2;
	border-top: 0px;
	padding: 5px 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #333333;
}

.photo-wr{
	display: table-cell;
	width: 160px;
	height: 160px;
	overflow: hidden;
	vertical-align: middle;
	padding: 5px;
	border: 5px solid #ECECEC;
}
.photo-wr img{
	max-width: 100%;
	max-height: 100%;
}