/*!
 * Start Bootstrap - SB Admin 2 Bootstrap Admin Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    background-color: #f8f8f8;
}

body.dragging, body.dragging * {
  cursor: move !important;
}

.display-n{
    display:none;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

ol.example li.placeholder {
  position: relative;
  /** More li styles **/
}
ol.example li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}

.page-header{
	padding-bottom: 5px;
    margin: 20px 0 10px;
	font-size: 28px;
}

#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
}

.vam{
	vertical-align: middle !important;
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
    background-color: #eee;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 51px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.login-panel {
    margin-top: 25%;
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee!important;
}

.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

.system-text-messages-b {
    max-width: 350px;
    position: fixed;
    top: 20px;
    right: 50px;
    z-index: 1003;
    z-index: 99999;
}
.system-text-messages-b ul {
    font: 14px Arial, sans-serif;
	list-style: none;
	padding: 0;
	margin: 0;
}
.system-text-messages-b li {
    padding: 15px 25px 15px 15px;
    position: relative;
    border-top: 1px dashed #eee;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-box-shadow: 0 0px 14px rgba(34, 34, 34, 0.5);
    box-shadow: 0 0px 5px rgba(34, 34, 34, 0.4);
    margin-bottom: 5px;
}
.system-text-messages-b li .ca-icon.ca-icon_remove {
    position: absolute;
    top: 16px;
    right: 8px;
    cursor: pointer;
    font-size: 14px;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4
}
.system-text-messages-b li .ca-icon.ca-icon_remove:hover {
    filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1
}
.system-text-messages-b .message-error {
    color: #a94442;
    background-color: #ebcdcc;
    border: 1px solid #d29998;
    border-radius: 3px;
}
.system-text-messages-b .message-success {
    color: #38971f;
    background-color: #ccf3c2;
    border: 1px solid #94d084;
    border-radius: 3px;
}
.system-text-messages-b .message-info {
    color: #3C81A3;
    background-color: #daf1f8;
    border: 1px solid #9ec7d8;
    border-radius: 3px;
}
.system-text-messages-b .message-warning {
    background: #fceedb;
    color: #c77c11;
    border: 1px solid #e8c395;
    border-radius: 3px;
}
.system-text-messages-b a {
    font-weight: bold
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.image-thumbnail-wr{
	display: block;
	float: left;
	height: 130px;
	overflow: hidden;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	padding: 5px;
	margin: 5px;
	position: relative;
}
.image-thumbnail-wr a{
	position: absolute;
	top: 5px;
	left: 5px;
}
.image-thumb{
	display: table-cell;
	width: 180px;
	height: 120px;
	vertical-align: middle;
	text-align: center;
}
.image-thumb img{
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
}
#user_file{
	width: 100%;
	margin-top: 10px;
    margin-bottom: 10px;
}
.text-white{
	color: #ffffff;
}
.files{
	display:flex;
	flex-wrap: wrap;
}
.user-image-thumbnail-wr{
    display: flex;
    width: 145px;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    padding: 5px;
    margin-right: 5px;
    position: relative;
    margin-bottom: 15px;
    text-align: center;
}
#news_photo .user-image-thumbnail-wr{
	width: auto;
}
#article_photo .user-image-thumbnail-wr{
	width: auto;
}
#banner_photos .user-image-thumbnail-wr{
	display: block;
}
#banner_photos .user-image-thumbnail-wr .image-weight-btn{
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 2;
}
.user-image-thumbnail-wr a{
	position: absolute;
	top: 5px;
	left: 5px;
}
.user-image-thumbnail-wr a + a{
	top: 5px;
	left: 35px;
}
.user-image-thumb{
	display: flex;
    width: 100%;
    height: 100px;
	align-items: center;
	text-align: center;
}
.user-image-thumb img{
	max-width: 100%;
	max-height: 100%;
}

.simple_tree{
	color: #CCCCCC;
}

.ajax-loader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width:100%;
	height:100%;
	text-align: center;
	zoom: 1;
	z-index: 20000;
	background: rgba(255,255,255,0.7);
}
.ajax-loader .wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 10px;
	text-align: center;
	margin-left: -35px;
	margin-top: -5px;
}

.ajax-loader .wrapper > div {
  width: 10px;
  height: 10px;
  /*background-color: #5B91CC;*/
  background-color: #337ab7;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bounceBigdelay 1.4s infinite ease-in-out;
  animation: bounceBigdelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.ajax-loader .wrapper .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.ajax-loader .wrapper .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bounceBigdelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bounceBigdelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/* FILTER PANEL */
.wr-filter-admin-panel {
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -350px;
    width: 350px;
    z-index: 9991;
    background: #f8f8f8;
    overflow: visible !important;
}

.wr-filter-admin-panel .title-b {
    font: bold 25px/25px Arial, sans-serif;
    color: #0f6c94;
    padding-bottom: 10px
}

.wr-filter-admin-panel .btn-display {
    width: 45px;
    min-height: 58px;
    position: absolute;
    top: 50px;
    left: -45px;
    z-index: 16;
    background: #f8f8f8;
    text-align: center;
    cursor: pointer;
    border-left: none;
    -moz-border-radius: 0px 5px 5px 0;
    -webkit-border-radius: 0px;
    border-radius: 5px 0px 0px 5px;
    -webkit-box-shadow: -7px 5px 8px 0px rgba(50, 50, 50, 0.2);
    box-shadow: -7px 5px 8px 0px rgba(50, 50, 50, 0.2);
}

.wr-filter-admin-panel .btn-display .i-block {
    margin: 5px auto 0 auto
}

.wr-filter-admin-panel .btn-display .i-block .ca-icon_filter {
    font-size: 18px;
    color: #0f6c94
}

.wr-filter-admin-panel .btn-display span {
    display: block;
    padding: 10px 0;
    font-weight: bold;
    line-height: 15px;
    font-size: 14px;
    color: #0f6c94
}

.wr-filter-admin-panel .btn-display.hide-btn {
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: .7
}

.wr-filter-admin-panel .btn-display.hide-btn:hover {
    filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1
}

.wr-filter-admin-panel .wr-hidden {
    width: 100%;
    height: 100%;
    min-height: 200px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #ccc;
    z-index: 15;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    display: none
}

.filter-admin-panel {
    width: 100%;
    height: inherit;
    position: relative;
    overflow-y: auto;
    padding: 10px;
    overflow-x: hidden !important;
    z-index: 16;
    background: #f8f8f8;
    -webkit-box-shadow: -7px 5px 8px 0px rgba(50, 50, 50, 0.2);
    box-shadow: -7px 5px 8px 0px rgba(50, 50, 50, 0.2);
}
/* FILTER PANEL END */

.text-elipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.orders_items-wr{
    width:100%;
}
.orders_items-wr .ordered_item{
    line-height: 15px;
    float: left;
    vertical-align: middle;
    width:100%;
    margin-bottom: 10px;
    position: relative;
}
.orders_items-wr .ordered_item .img-wr{
    width:30px;
    position: absolute;
    line-height: 30px;
    height: 30px;
    vertical-align: middle;
    top:50%;
    margin-top:-15px;
    left:10px;
}
.orders_items-wr .ordered_item .ordered_item-info{
    width: 100%;
}

.fancybox-slide--iframe .fancybox-content {
    height : 600px !important;
    max-width  : 80%;
    max-height : 80%;
    margin: 0;
}